

.termsAndConditionsSection_3wbkl {
    margin: 32px 0;
}

.pageHeader_1mMYp {
    padding: 16px 0 0 16px;
    font-weight: 700;
    background: #fff;
    max-width: calc(1281px - 1px);
    margin: 0 auto;
    box-sizing: border-box;
}

.basketPage_3pTQj {
    font-family: "Human BBY", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #1d252c;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
}

.basketPage_3pTQj .cartSummary_3OHfy {
        background-color: #fff;
        margin: 0;
    }

.basketPage_3pTQj a {
        text-decoration: none;
    }

.basketPage_3pTQj h2 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        padding: 0;
        margin: 0 0 16px;
    }

.basketPage_3pTQj table {
        font-size: 14px;
        width: 100%;
        text-align: left;
    }

.basketPage_3pTQj table td {
            text-align: right;
        }

.basketPage_3pTQj small {
        font-weight: 400;
        font-size: 12px;
    }

.basketPage_3pTQj .totalSummary_3Mwsf {
        margin: 10px 0 20px;
        padding: 0 16px;
        font-weight: 600;
    }

.basketPage_3pTQj .totalSummary_3Mwsf table {
            border-collapse: collapse;
            margin-bottom: 16px;
        }

.basketPage_3pTQj .totalSummary_3Mwsf table th {
                font-weight: 600;
            }

.basketPage_3pTQj .totalSummary_3Mwsf small {
            margin-right: 5px;
            color: #55555a;
        }

.basketPage_3pTQj .cartItems_1kFpP {
        padding: 24px 16px 32px;
        background-color: #f4f6f9;
    }

.basketPage_3pTQj .basketAside_9BDma {
        background-color: #fff;
        padding: 16px;
    }

.basketPage_3pTQj .basketAside_9BDma .enterPcSection_3r_Cf {
            font-size: 14px;
            border-bottom: solid 1px #e0e6ef;
            padding-bottom: 4px;
            margin-bottom: 12px;
        }

.basketPage_3pTQj .basketAside_9BDma .outOfStock_3ZeS5 {
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: solid 1px #e0e6ef;
        }

.basketPage_3pTQj .basketAside_9BDma .outOfStock_3ZeS5 .continue_20xvH {
                color: #fff;
            }

.pageLoader_KlJ5z {
    text-align: center;
}

.pageLoader_KlJ5z .spinner_1xgXS {
        margin: 80px auto;
        color: #1d252c;
    }

.emptyCart_1yVwa {
    max-width: calc(1281px - 1px);
    margin: 0 auto;
    position: relative;
    padding: 18px;
    box-sizing: border-box;
}

.centerContainer_22ylq {
    max-width: calc(1281px - 1px);
    margin: auto;
    width: 100%;
}

.lineItemList_1decb {
    margin: 0;
    padding-left: 0;
}

.vendorItem_3Lnz6 {
    list-style: none;
    padding-left: 0;
    margin-bottom: 24px;
}

.vendorItem_3Lnz6:last-child {
    margin-bottom: 0;
}

.productList_yojMN {
    padding: 32px 16px;
    background-color: #f4f6f9;
}

.nonQpuInCart_1eqIy {
    margin: 0 0 24px;
}

.mobileHeaderCheckout_28eRJ {
    padding: 0 16px;
    margin-bottom: 32px;
}

.sidebar_3Fa4f {
    border-top: 1px solid #e0e6ef;
}

div.checkoutFlowMobile_1G0DI {
    padding-top: 0;
}

@media (min-width: 768px) {
    .pageContent_1vNlW {
        margin: 0 auto;
        position: relative;
    }

    .basketPage_3pTQj {
        position: relative;
        background: -webkit-linear-gradient(left, #f4f6f9 0, #f4f6f9 50%, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0));
        background: linear-gradient(90deg, #f4f6f9 0, #f4f6f9 50%, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0));
        margin-top: 16px;
        overflow: hidden;
    }

        .basketPage_3pTQj > .centerContainer_22ylq {
            position: relative;
            overflow: hidden;
            background: -webkit-linear-gradient(left, #f4f6f9 0, #f4f6f9 70%, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0));
            background: linear-gradient(90deg, #f4f6f9 0, #f4f6f9 70%, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0));
        }

        .basketPage_3pTQj .cartSummary_3OHfy {
            display: none;
        }

    .basketPage_3pTQj.savedItemsFullRow_2fRiU {
        background-color: #f4f6f9;
    }

    .basketAside_9BDma {
        float: right;
        width: 30%;
        box-sizing: border-box;
        margin: 0;
    }

    .totalSummary_3Mwsf {
        margin: 0;
        padding: 0 16px 16px;
    }

        .totalSummary_3Mwsf table {
            border-collapse: separate;
        }

    .cartItemsForm_1Rhoc {
        float: left;
        width: 70%;
        background-color: #f4f6f9;
    }

    .productList_yojMN {
        padding: 0 16px 16px;
        float: left;
        clear: left;
        display: block;
        width: 70%;
        box-sizing: border-box;
        background-color: #f4f6f9;
    }

        .productList_yojMN h2 {
            margin-bottom: 16px;
        }

    .savedItemsFullRow_2fRiU {
        padding-top: 16px;
    }
}

@media (min-width: 1025px) {
    .pageSection_xFin1 {
        padding: 0 24px 24px;
    }
}
