.ctaWrp_19kCR {
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 0;
}

    .ctaWrp_19kCR .primaryCta_oTAT9,
    .ctaWrp_19kCR .secondaryCta_1iTwM {
        margin-top: 16px;
    }

    .ctaWrp_19kCR .primaryCta_oTAT9 {
        margin-bottom: 0;
    }

    .ctaWrp_19kCR .primaryCta_oTAT9 a {
            margin: 0;
        }

    .ctaWrp_19kCR .secondaryCta_1iTwM.videoLink_1sJmg {
        background-color: transparent
    }

    .ctaWrp_19kCR .secondaryCta_1iTwM.videoLink_1sJmg:hover {
    color: #fff;
    background-color: #001e73;
}

.ctaWrp_19kCR.dark_3ua7w .secondaryCta_1iTwM.videoLink_1sJmg {
            border-color: #fff;
}

.ctaWrp_19kCR.dark_3ua7w .secondaryCta_1iTwM.videoLink_1sJmg:hover {
    color: #0046be;
    background-color: #e0e6ef;
}
@media (min-width: 768px) {
    .ctaWrp_19kCR {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
        margin: 0 -24px 0 0;
    }

        .ctaWrp_19kCR .primaryCta_oTAT9,
        .ctaWrp_19kCR .secondaryCta_1iTwM {
            margin-right: 24px;
        }
}
