module.exports = "<div class=\"inner-popover\">\n    <div class=\"arrow\"></div>\n    <div class=\"content\">\n        <h4 class=\"dialog-header\">Follow this Teacher</h4>\n        <p class=\"description\">Like this class? Follow the teacher for more!</p>\n        <div class=\"btn small secondary primary close-button\">Got It</div>\n    </div>\n</div>\n"