// Header variables
$header-height: 61px;

$topbar-height: 60px;
$bottombar-height: 60px;

// Sidebar variables
$sidebar-width: 88px;
$sidebar-item-detal-slider-width: 360px;

// Theme colors variables
$primary-color: #1e1e1e;
$secondary-color: #323232;

$white: #ffffff;
$black: #000000;
$grey-dark: #888888;
$accent-lighten: #ffbe55;
$accent: #ffac41;
$accent-dark: #22394c;
$grey-darker: #323232;
$black-alpha: rgba(255, 255, 255, 0.12);
$grey-black: #1e1e1e;
$accent-dark-lighten: #2b5f8b;
$accent-grey: #858585;
$seperater-color: #ccc;
$placeholderColor: #939393;

// brandkit variables
$paletteColorWidth: 190px;

// New color theme
$bg_dark_00: #1e1e1e;
$bg_dark_02: #232323;
$bg_dark_04: #323232;

$content_dark: #1e1e1e;
$content_light: #ffffff;
$content_light_inactive: #d8d8d8;
$content_light_disabled: #888888;

$primary_00: #ffad00;
$primary_02: #ffd350;
$primary_04: #ffe086;

$tr_button_enabled: rgba(255, 255, 255, 0.08);
$tr_button_hover: rgba(255, 255, 255, 0.16);
$tr_button_pressed: rgba(255, 255, 255, 0.24);

$tr_input_background: rgba(0, 0, 0, 0.25);
