// Imports
var ___CSS_LOADER_API_IMPORT___ = require("../../../../node_modules/css-loader/dist/runtime/api.js");
exports = ___CSS_LOADER_API_IMPORT___(false);
// Module
exports.push([module.id, ".iam___NotFound___gGULVgGU{\n\tpadding:0 48px 16px 48px;\n\ttext-align:center;\n\tcolor:#747678;\n}\n", ""]);
// Exports
exports.locals = {
	"NotFound": "iam___NotFound___gGULVgGU"
};
module.exports = exports;
