@import '@pipedrive/convention-ui-css/dist/postcss/colors.postcss';
@import '@pipedrive/convention-ui-css/dist/postcss/fonts.postcss';

.linkButton {
	border: 0;
	background: none;
	padding: 0px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $color-blue-hex;
	font-size: $font-size-m;
	font-weight: $font-weight-semi;

	&:focus {
		outline: 0;
	}
}

.buttonText {
	margin-left: 8px;
}
