// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-shared-contentWrapper-ContentWrapper__contentWrapper--3UX1g{\n\tdisplay:flex;\n\tflex-direction:column;\n\twidth:calc(100% - 256px);\n\toverflow-y:auto;\n}\n", "",{"version":3,"sources":["webpack://./client/shared/contentWrapper/ContentWrapper.pcss"],"names":[],"mappings":"AAAA;CACC,YAAa;CACb,qBAAsB;CACtB,wBAAyB;CACzB,eAAgB;AACjB","sourcesContent":[".contentWrapper {\n\tdisplay: flex;\n\tflex-direction: column;\n\twidth: calc(100% - 256px);\n\toverflow-y: auto;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"contentWrapper": "client-shared-contentWrapper-ContentWrapper__contentWrapper--3UX1g"
};
export default ___CSS_LOADER_EXPORT___;
