@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding: 64px;
}

.title {
	font: $font-title-l;
	margin-bottom: 8px;
}

.informativeText {
	margin-top: 16px;
	margin-bottom: 16px;
}
