.container_hqcLK p {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
    }

.logoContainer_2m9RC {
    width: 40px;
    height: 26px;
    margin-bottom: 8px;
}

.title_1NUxI {
    font-weight: 600;
}

.subHeader_3D-1a {
    margin-top: 8px;
}
