/*
 * ELASTICSEARCH CONFIDENTIAL
 * __________________
 *
 *  Copyright Elasticsearch B.V. All rights reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Elasticsearch B.V. and its suppliers, if any.
 * The intellectual and technical concepts contained herein
 * are proprietary to Elasticsearch B.V. and its suppliers and
 * may be covered by U.S. and Foreign Patents, patents in
 * process, and are protected by trade secret or copyright
 * law.  Dissemination of this information or reproduction of
 * this material is strictly forbidden unless prior written
 * permission is obtained from Elasticsearch B.V.
 */

@import '../../../../styles/variables.scss';

.help-deploymentSearchResult {
  padding: $paddingBase;
  color: $euiColorPrimary;
  cursor: pointer;

  &:hover {
    background-color: $colorHoverState;

    .euiTheme-dark & {
      @import '../../../../styles/dark-variables.scss';
      background-color: $euiColorLightShade;
    }
  }
}

.help-currentDeployments {
  margin-top: $paddingLarge;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.help-currentDeploymentsItem {
  margin-top: $paddingSmall;
  margin-right: $paddingSmall;
}

.help-otherLinksContainer {
  border: 1px solid $euiColorLightShade;
  padding: $paddingLarge;
  width: 15rem;
}

.help-otherLinksInnerContainer {
  line-height: 2;
  display: flex;
  flex-direction: column;
}

.help-otherLinksTitle {
  width: auto;
  margin-bottom: -.5rem;
  padding: 0 $paddingSmall;
}

.help-sendBtn {
  margin-top: $paddingLargest;
  max-width: 7rem;
}

.help-emailSuggestion {
  max-width: 36rem;
}

.help-emailSuggestionContent {
  margin-top: $paddingLarge;
}

.help-premiumMessage {
  max-width: 36rem;
}
