module.exports = "<div class=\"social-share-buttons\">\n    <a href=\"javascript:;\" class=\"link-input btn small{{#hideShortUrl}} hidden{{/hideShortUrl}}\">\n        <input type=\"text\" class=\"small select-on-click\" value=\"{{shortUrl}}\" readonly=\"readonly\" style=\"display: block;\" />\n    </a>\n    {{#hideShortUrl}}\n        <div class=\"share-link btn grey share-button large-wide\" style=\"display: block; color: white; width: 100%\" longurl=\"{{directUrl}}\">Get Shareable Link</div>\n    {{/hideShortUrl}}\n    {{^hideShortUrl}}\n    <div class=\"share-link btn grey share-button large-wide\" style=\"color: white; width: 100%\" longurl=\"{{directUrl}}\">Get Shareable Link</div>\n    {{/hideShortUrl}}\n</div>\n"