module.exports = "<div class=\"{{#columnSize}}col-{{columnSize}}{{/columnSize}} {{^columnSize}}col-6{{/columnSize}} class-column {{#clientRendered}}rendered{{/clientRendered}}\">\n    {{> partials/_class-card-content}}\n</div>\n"