module.exports = "<a href=\"javascript:;\" class=\"block-link js-show-referral-popup referral-promo clear ga-event\" ga-cat=\"{{gaCategory}}\" ga-action=\"Click Open Popup\">\n    <div class=\"left\">\n        <img class=\"tofu\" src=\"/assets/images/gift.png\" alt=\"Invite a friend and get a free month\" />\n    </div>\n    <div class=\"detail\">\n        <p class=\"title\">Invite a Friend.</p>\n        <p class=\"title\">Get a free month.</p>\n        <p class=\"more\"><span>Learn more</span></p>\n    </div>\n</a>\n"