module.exports = "<!-- Share Links -->\n<div class=\"share-links\">\n    <a class=\"share-item share-fb ss-icon-facebook-alt\" href=\"javascript:;\">Share<span class=\"count-wrapper round-all hidden\"><span class=\"count-wrapper-arrow\"></span><span class=\"count\"></span></span></a>\n    <a class=\"share-item share-twitter ss-icon-twitter\" href=\"https://twitter.com/intent/tweet?text={{urlEncodedTweetText}}\">Tweet</a>\n    {{#showEmail}}\n        <a class=\"share-item share-email ss-icon-envelope\" href=\"javascript:;\">Email</a>\n    {{/showEmail}}\n    {{#showEmbedButton}}<a class=\"share-item share-embed video-embed ss-icon-embed\" href=\"javascript:;\">Embed</a>{{/showEmbedButton}}\n</div>\n"