module.exports = "<div class=\"social-share-buttons\">\n\t<div class=\"link-input btn small hidden\">\n        <input type=\"text\" class=\"small select-on-click\" value=\"{{shortUrl}}\" readonly=\"readonly\" />\n    </div>\n    <div class=\"buttons-container\">\n\t\t<div class=\"share-facebook btn fb large-icon ss-icon-facebook share-button\"></div>\n   \t\t<a class=\"share-twitter btn twitter large-icon ss-icon-twitter share-button\" href=\"https://twitter.com/intent/tweet?text={{urlEncodedTweetText}}\" longurl=\"{{twitterUrl}}\" shorturl=\"\"></a>\n   \t\t<div class=\"share-link btn large-icon ss-icon-link share-button\" longurl=\"{{directUrl}}\"></div>\n    </div>\n</div>\n"