module.exports = "<a href=\"{{link}}\"{{#className}} class=\"{{className}}\"{{/className}} data-text=\"{{label}}\" data-type=\"{{name}}\">{{#locked}}<span class=\"ss-icon-lock\"></span>{{/locked}}{{label}}{{#count}} <span class=\"count\">{{count}}</span>{{/count}}</a>\n"