module.exports = "<ul class=\"list clear\">\n    {{#tabs}}\n        <li class=\"tab left{{#active}} active{{/active}}\">{{> shared/_tab }}</li>\n    {{/tabs}}\n</ul>\n<div class=\"underline\"></div>\n"