@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.lockedDialog {
	[class='cui4-dialog__wrap'] {
		width: 584px;
	}
}

.wrapper {
	text-align: center;
}

.title {
	font: $font-title-l;
	margin-bottom: 8px;
}

.icon {
	margin-top: 32px;
}

.link {
	text-decoration: none;
	color: $color-blue-hex;
	font: $font-title-m;

	&:hover {
		text-decoration: underline;
	}
}
