.dataTableLoaderContainer {
	display: flex;
}

.dataTableLoader {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 15px;

	:global {
		.cui4-spinner {
			left: 0 !important;
			top: 0 !important;
		}
	}
}
