// Imports
var ___CSS_LOADER_API_IMPORT___ = require("../../../node_modules/css-loader/dist/runtime/api.js");
exports = ___CSS_LOADER_API_IMPORT___(false);
// Module
exports.push([module.id, ".iam___Mount___2KNbG2KN{\n\tposition:static;\n}\n", ""]);
// Exports
exports.locals = {
	"Mount": "iam___Mount___2KNbG2KN"
};
module.exports = exports;
