@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.dashboard {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.boardEmpty {
	padding-bottom: 0;
}

.textStrong {
	font-weight: $font-weight-semi;
}
