// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-dashboard-Dashboard__dashboard--3oOPa{\n\tdisplay:flex;\n\tflex-direction:column;\n\tflex:1;\n}\n.client-dashboard-Dashboard__boardEmpty--2qYZl{\n\tpadding-bottom:0;\n}\n.client-dashboard-Dashboard__textStrong--11piu{\n\tfont-weight:600;\n}\n", "",{"version":3,"sources":["webpack://./client/dashboard/Dashboard.pcss"],"names":[],"mappings":"AAEA;CACC,YAAa;CACb,qBAAsB;CACtB,MAAO;AACR;AAEA;CACC,gBAAiB;AAClB;AAEA;CACC,eAA8B;AAC/B","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';\n\n.dashboard {\n\tdisplay: flex;\n\tflex-direction: column;\n\tflex: 1;\n}\n\n.boardEmpty {\n\tpadding-bottom: 0;\n}\n\n.textStrong {\n\tfont-weight: $font-weight-semi;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"dashboard": "client-dashboard-Dashboard__dashboard--3oOPa",
	"boardEmpty": "client-dashboard-Dashboard__boardEmpty--2qYZl",
	"textStrong": "client-dashboard-Dashboard__textStrong--11piu"
};
export default ___CSS_LOADER_EXPORT___;
