.cellPhonePrice_2pHRa {
    font-size: 16px;
}

.priceSection_2x95f {
    font-weight: 700;
    margin-bottom: 4px;
}

.pricePerMonth_26-8V {
    display: inline-block;
}

.monthly_2W_t0 {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0;
}

.taxes_3PBx2,
.down_2xaaa {
    display: inline-block;
    font-weight: 700;
    margin: 0;
}
