// Cosmos Theme
// 🌌🌄🌉

.theme-cosmos
  --variable-shim-primary: #eeeeee
  --variable-shim-primary-background: #160F19
  --variable-shim-general-link: #418cab
  --variable-shim-secondary: #484848
  --variable-shim-secondary-background: #282828
  --variable-shim-secondary-background-hover: #333
  --variable-shim-secondary-background-active: #4e4e4e
  --variable-shim-text-on-secondary-background: #9B9B9B
  --variable-shim-line-on-secondary-background: #7b7b7b
  --variable-shim-section-line: #404040
  --variable-shim-input-border: #666
  --variable-shim-input-border-focused: #A2D7FF
  --variable-shim-tertiary: #9B9B9B
  --variable-shim-secondary-hover-on-color: rgba(255,255,255,0.6)
  --variable-shim-tooltip-background: rgba(255, 255, 255, 0.85)
  --variable-shim-cta: #b1419f

  --variable-shim-error: #ff5d5d
  --variable-shim-warning: #FFAABF
  --variable-shim-warning-background: #f3929f
  --variable-shim-notification: #A4A4FF
  --variable-shim-success: #55ff84

  --variable-shim-private: #b98e01
  --variable-shim-private-secondary: #c79d11

  --variable-shim-line-added: #284A35
  --variable-shim-line-added-active: #36945b
  --variable-shim-line-removed: #58243a
  --variable-shim-line-removed-active: #B62D4E
  --variable-shim-rewind-playhead: #7460e1

  --variable-shim-pop-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27), 0px 1px 1px 0px rgba(0,0,0,0.15)

  // JS, Coffee, etc.
  --variable-shim-file-logic: #DC286F
  --variable-shim-file-logic-secondary: rgba(#DC286F, 0.2)

  // JSON -- looks like error
  --variable-shim-file-data: #D820CA
  --variable-shim-file-data-secondary: rgba(#D820CA, 0.2)

  // Markdown
  --variable-shim-file-info: #5571F1
  --variable-shim-file-info-secondary: rgba(#5571F1, 0.2)

  // HTML, Jade, HAML
  --variable-shim-file-view: #B440F1
  --variable-shim-file-view-secondary: rgba(#B440F1, 0.2)

  // CSS, LESS, Stylus -- looks like live
  --variable-shim-file-styles: #E74141
  --variable-shim-file-styles-secondary: rgba(#E74141, 0.2)

  --variable-shim-file-image: #D8B621
  --variable-shim-file-image-secondary: rgba(#D8B621, 0.2)

  --variable-shim-file-env: #FCF3B0
  --variable-shim-file-env-secondary: rgba(#FCF3B0, 0.2)
  --variable-shim-file-env-color: var(--variable-shim-primary)
  --variable-shim-file-env-active-color: var(--variable-shim-primary-background)

  // everything else
  --variable-shim-file-other: #1DA6AC
  --variable-shim-file-other-secondary: rgba(#1DA6AC, 0.2)

  --variable-shim-new-stuff: #A2162D

  --variable-shim-overlay-background: rgba(0, 0, 0, 0.8)
  --variable-shim-keyboard-shortcut: var(--variable-shim-marketing-background)

  --variable-shim-logs-panel-errors: var(--variable-shim-error)
  --variable-shim-logs-panel-success: var(--variable-shim-success)

  // dark editor colors

  --variable-shim-selection-highlight: rgba(77, 151, 255, 0.33)
  --variable-shim-selection-unfocused-highlight: #777777
  --variable-shim-active-line-color: rgba(255, 255, 255, 0.1)
  --variable-shim-gutter-active-line-color: rgba(255,255,255, 0.07)
  --variable-shim-gutter-text-color: #565656

  // themeable code colors🎄

  --variable-shim-comment: #898989
  --variable-shim-keyword: #79E6D9
  --variable-shim-string: #FDDD88
  --variable-shim-number: #6eca98
  --variable-shim-operator: #79e6d9
  --variable-shim-property: #a4a4e4
  --variable-shim-definition: var(--variable-shim-primary)

  --variable-shim-matching-bracket-highlight: rgba(114, 192, 194, 0.5)
  --variable-shim-matching-tag-highlight: #444122

  --variable-shim-onboarding-background: #006280
