// Sugar Theme
// 🌈🌴🌺

.theme-sugar
  --variable-shim-primary: #222
  --variable-shim-primary-background: white
  --variable-shim-general-link: #244776
  --variable-shim-secondary: #C3C3C3
  --variable-shim-secondary-background: #F5F5F5
  --variable-shim-secondary-background-hover: #EAEAEA
  --variable-shim-secondary-background-active: #E2E2E2
  --variable-shim-text-on-secondary-background: #636363
  --variable-shim-line-on-secondary-background: var(--variable-shim-secondary)
  --variable-shim-section-line: #E5E5E5
  --variable-shim-input-border: #CCC
  --variable-shim-input-border-focused: #A2D7FF
  --variable-shim-tertiary: #636363
  --variable-shim-secondary-hover-on-color: rgba(255,255,255,0.6)
  --variable-shim-tooltip-background: rgba(0,0,0,0.85)
  --variable-shim-cta: #83ffcd

  --variable-shim-error: #DC352C
  --variable-shim-warning: #FFAABF
  --variable-shim-warning-background: #ffdadf
  --variable-shim-notification: #7460E1
  --variable-shim-success: #05D458

  --variable-shim-private: #fcf3b0
  --variable-shim-private-secondary: #efe59b

  --variable-shim-line-added: #E2FFE6
  --variable-shim-line-added-active: #8ce298
  --variable-shim-line-removed: #ffe7e7
  --variable-shim-line-removed-active: #ffa3a3

  --variable-shim-rewind-playhead: #7460e1

  --variable-shim-pop-shadow: 0px 2px 5px 0px rgba(0,0,0,0.27), 0px 1px 1px 0px rgba(0,0,0,0.15)

  // JS, Coffee, etc.
  --variable-shim-file-logic: #B8145F
  --variable-shim-file-logic-secondary: rgba(#B8145F, 0.1)

  // JSON
  --variable-shim-file-data: #661E81
  --variable-shim-file-data-secondary: rgba(#661E81, 0.1)

  // Markdown
  --variable-shim-file-info: #3652D3
  --variable-shim-file-info-secondary: rgba(#3652D3, 0.1)

  // HTML, Jade, HAML
  --variable-shim-file-view: #A63ADF
  --variable-shim-file-view-secondary: rgba(#A63ADF, 0.1)

  // CSS, LESS, Stylus
  --variable-shim-file-styles: #CB4A3A
  --variable-shim-file-styles-secondary: rgba(#CB4A3A, 0.1)

  --variable-shim-file-image: #B68A08
  --variable-shim-file-image-secondary: rgba(#B68A08, 0.1)

  --variable-shim-file-env: #222222
  --variable-shim-file-env-secondary: rgba(#222222, 0.2)
  --variable-shim-file-env-color: var(--variable-shim-primary)
  --variable-shim-file-env-active-color: var(--variable-shim-primary-background)

  // everything else
  --variable-shim-file-other: #158085
  --variable-shim-file-other-secondary: rgba(#158085, 0.1)

  --variable-shim-new-stuff: #A2162D

  --variable-shim-overlay-background: rgba(255, 255, 255, 0.8)
  --variable-shim-keyboard-shortcut: var(--variable-shim-success)

  --variable-shim-logs-panel-errors: var(--variable-shim-new-stuff)
  --variable-shim-logs-panel-success: var(--variable-shim-file-info)

  // light editor colors

  --variable-shim-selection-highlight: #C4DDFF
  --variable-shim-selection-unfocused-highlight: #DCDCDC
  --variable-shim-active-line-color: rgba(0, 0, 0, 0.05)
  --variable-shim-gutter-active-line-color: rgba(0, 0, 0, 0.03)
  --variable-shim-gutter-text-color: var(--variable-shim-secondary)

  // themeable code colors 🎄

  --variable-shim-comment: #898989
  --variable-shim-keyword: #00119E
  --variable-shim-string: #a2162d
  --variable-shim-number: #15959c
  --variable-shim-operator: #0820B2
  --variable-shim-property: #9445B0
  --variable-shim-definition: var(--variable-shim-primary)

  --variable-shim-matching-bracket-highlight: rgba(137, 219, 221, 0.5)
  --variable-shim-matching-tag-highlight: #FFFECA

  --variable-shim-onboarding-background: #BFE3FF
