

.selectedScreenSizeMessage_L2cTo {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 20px;
}

.sizeVariantWrapper_1VGei {
    margin: 16px;
}

.sizeVariantsLoading_2zevG {
    margin: 16px;
}
