.reqPartsHeader_2nmH8 {
    font-weight: 600;
    font-size: 16px;
    padding: 0;
    line-height: 20px;
    margin-bottom: 8px;
}

.requiredPartsItemDetails_3br-i {
    line-height: 20px;
    font-size: 14px;
}

.requiredPartsItemDetails_3br-i .requiredPartsDesc_1yfJ1 {
        font-size: 14px;
    }

.requiredPartsItemDetails_3br-i .seeRequiredPartsItemLink_12hC_ {
        display: inline-block;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
