module.exports = "<div class=\"user-list-row\">\n    <div class=\"user-details-wrapper clear\">\n        <a href='{{profileUrl}}' target='_blank'>\n            <div class=\"user-image user-img-50 round-all left\">\n                <img src=\"{{image}}\" alt=\"{{fullName}}\" />\n            </div>\n            <div class=\"user-details\">\n                <div class=\"user-details-fullname\">{{fullName}}</div>\n                <h6 class=\"user-details-headline\">{{headline}}</h6>\n            </div>\n        </a>\n    </div>\n</div>\n"