@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.textStrong {
	font-weight: $font-weight-semi;
}

.errorMessage {
	display: flex;
	align-items: center;
	height: 100%;
}

.panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding: 64px;
}

.informativeText {
	margin: 16px 0;
}
