

.icon_3wC1X.iconStyle_2PywI {
    float: left;
    height: 32px;
    margin-right: 8px;
    width: 32px;
    position: relative;
    bottom: 3px;
}

.deliveryNoticeMessageTitle_2EJpa {
    line-height: 24px;
    font-size: 16px;
    color: #1d252c;
    font-weight: 600;
    margin-bottom: 8px;
    display: inline-block;
}

.deliveryNotice_3-C9v {
    clear: both;
    font-size: 14px;
    margin-top: 24px;
}

.hasEventLink_60gyf {
    margin: 16px 0 12px;
}

.deliveryNoticeMessageBody_1ulBo {
    margin: 0 0 0 40px;
    font-size: 14px;
    line-height: 20px;
}

.deliveryNotice_3-C9v p {
    font-size: 14px;
    line-height: 20px;
}

.deliveryNoticeLink_3Say- {
    margin: 8px 0 0 40px;
    font-size: 14px;
    font-weight: 600;
}

.icon_3wC1X.rightArrowIcon_zfzpd {
    fill: #0046be;
    height: 16px;
    width: 16px;
    position: relative;
    top: 4px;
}
