// extracted by mini-css-extract-plugin
export default {"cappingInfo":"client-components-Capping-CappingCounter__cappingInfo--3UjI9","cappingText":"client-components-Capping-CappingCounter__cappingText--1Dt1G","errorMessage":"client-components-Capping-CappingCounter__errorMessage--8ynQm"};