// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-dashboard-actionBar-buttons-ShareDashboardButton__shareButton--3QrVh{\n\tmargin-right:8px;\n}\n", "",{"version":3,"sources":["webpack://./client/dashboard/actionBar/buttons/ShareDashboardButton.pcss"],"names":[],"mappings":"AAAA;CACC,gBAAiB;AAClB","sourcesContent":[".shareButton {\n\tmargin-right: 8px;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"shareButton": "client-dashboard-actionBar-buttons-ShareDashboardButton__shareButton--3QrVh"
};
export default ___CSS_LOADER_EXPORT___;
