// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-SummaryTableCellLink-SummaryTableCellLink__link--1D45B:hover{\n\t\ttext-decoration:underline;\n\t\tcursor:pointer;\n\t}\n", "",{"version":3,"sources":["webpack://./client/atoms/SummaryTableCellLink/SummaryTableCellLink.pcss"],"names":[],"mappings":"AAGC;EACC,yBAA0B;EAC1B,cAAe;CAChB","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/postcss/colors.postcss';\n\n.link {\n\t&:hover {\n\t\ttext-decoration: underline;\n\t\tcursor: pointer;\n\t}\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"link": "client-atoms-SummaryTableCellLink-SummaryTableCellLink__link--1D45B"
};
export default ___CSS_LOADER_EXPORT___;
