

.sellerGrid_1uMy5 {
    margin: 0;
    padding: 16px;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    border-bottom: 1px solid #e0e6ef;
}

.sellerGrid_1uMy5:last-child {
    border-bottom: none;
}

.sellerPrice_3JWW9 {
    padding: 0 0 14px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

.sellerInfo_iDIGb {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
            flex: 2;
}

.sellerInfoWrapperLeft_3AooN {
    height: 22px;
    width: 22px;
    padding-right: 2px;
    margin-right: 7px;
}

.sellerWrapperRight_nJI4J {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
            flex: 4;
}

.sellerOffer_Csg9e {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    margin-bottom: 18px;
}

.sellerInfoTitle_2GFAZ {
    font-weight: 600;
    margin-bottom: 4px;
}

.sellerRating_2jplN {
    font-size: 14px;
    margin-bottom: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.sellerPolicy_2xZv3 {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.sellerWarranty_DxT5t {
    font-size: 14px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.sellerWarrantyWrapperLeft_1-CWC {
    height: 22px;
    width: 22px;
    padding-right: 2px;
    margin-right: 7px;
}

.sellerWarrantyTitle_3S_Gb {
    font-weight: 600;
    margin-bottom: 4px;
}

.sellerWarrantyMessage_YWIkQ {
    margin-bottom: 8px;
}

.sellerButtonContainer_1PhCQ {
    grid-row: 1;
    justify-self: end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    max-width: 150px;
    display: none;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
}

.productSellerAtc_1GPf0 {
    height: 32px;
}

/* Class names are used to target un hashed classnames within another repo */

.sellerButtonContainer_1PhCQ .addToCartContainer .addToCartButton {
    height: 32px;
    line-height: 1.4;
}

/* Class names are used to target un hashed classnames within another repo */

.sellerButtonContainer_1PhCQ .addToCartContainer .addToCartButton {
    font-size: 12px !important;
}

.sellerMobileAddToCartButtonContainer_12KGr .addToCartButton,
.sellerButtonContainer_1PhCQ .addToCartButton {
    padding: 0 24px;
}

.checkoutButtonContainer_2cBK5 {
    width: 100%;
    min-width: 90px;
}

@media (min-width: 768px) {
    .sellerGrid_1uMy5 {
        padding: 24px 0;
        margin: 0 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .sellerWrapperRight_nJI4J {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .sellerPrice_3JWW9 {
        padding: 0;
    }

    .sellerButtonContainer_1PhCQ {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .sellerInfo_iDIGb {
        padding-right: 8px;
    }

    .sellerWarranty_DxT5t {
        padding-right: 8px;
    }

    .sellerWarrantyWrapperLeft_1-CWC {
        display: none;
    }

    .sellerWarrantyTitle_3S_Gb {
        display: none;
    }

    .sellerMobileAddToCartButtonContainer_12KGr {
        display: none;
    }

    .sellerPolicy_2xZv3 {
        margin-bottom: 0;
    }
}

@media (min-width: 1025px) {
    .sellerGrid_1uMy5 {
        padding: 24px 0;
        margin: 0 24px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .sellerWrapperRight_nJI4J {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .sellerWarrantyWrapperLeft_1-CWC {
        display: none;
    }

    .sellerWarrantyTitle_3S_Gb {
        display: none;
    }

    .sellerGrid_1uMy5:last-of-type + hr {
        display: none;
    }

    .sellerMobileAddToCartButtonContainer_12KGr {
        display: none;
    }
}
