.giftCardSection_2eifY {
    margin-bottom: 24px;
}

.activationTitle_P6zn1,
.giftCardSection_2eifY p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.activationTitle_P6zn1 {
    font-weight: 600;
    margin-bottom: 8px;
}
