// style-loader: Adds some css to the DOM by adding a <style> tag

// load the styles
var content = require("!!../../../../../../node_modules/mini-css-extract-plugin/dist/loader.js!../../../../../../node_modules/cache-loader/dist/cjs.js??ref--16-1!../../../../../../node_modules/css-loader/index.js!../../../../../../node_modules/stylus-relative-loader/index.js?paths=/codebuild/output/src143855044/src/web/static!./EffortText.styl");
if(typeof content === 'string') content = [[module.id, content, '']];
// Prepare cssTransformation
var transform;

var options = {}
options.transform = transform
// add the styles to the DOM
var update = require("!../../../../../../node_modules/style-loader/lib/addStyles.js")(content, options);
if(content.locals) module.exports = content.locals;
// Hot Module Replacement
if(module.hot) {
	// When the styles change, update the <style> tags
	if(!content.locals) {
		module.hot.accept("!!../../../../../../node_modules/mini-css-extract-plugin/dist/loader.js!../../../../../../node_modules/cache-loader/dist/cjs.js??ref--16-1!../../../../../../node_modules/css-loader/index.js!../../../../../../node_modules/stylus-relative-loader/index.js?paths=/codebuild/output/src143855044/src/web/static!./EffortText.styl", function() {
			var newContent = require("!!../../../../../../node_modules/mini-css-extract-plugin/dist/loader.js!../../../../../../node_modules/cache-loader/dist/cjs.js??ref--16-1!../../../../../../node_modules/css-loader/index.js!../../../../../../node_modules/stylus-relative-loader/index.js?paths=/codebuild/output/src143855044/src/web/static!./EffortText.styl");
			if(typeof newContent === 'string') newContent = [[module.id, newContent, '']];
			update(newContent);
		});
	}
	// When the module is disposed, remove the <style> tags
	module.hot.dispose(function() { update(); });
}