@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';

.dashboardButtons {
	display: flex;
}

.dropmenuOption {
	display: flex;
	align-items: center;
}

.dropdownOptionIcon {
	margin-right: 8px;

	.dropmenuOption:hover & {
		fill: $color-white-hex;
	}
}
