

.titleCenter_2iWSE h2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 0 16px 32px;
    line-height: 24px;
}

@media (min-width: 768px) {
    .titleCenter_2iWSE h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 32px;
    }
}

@media (min-width: 1025px) {
    .titleCenter_2iWSE h2 {
        margin: 0 24px 32px;
    }

    .dividerWithMargin_22olB {
        margin-right: 24px !important;
    }
}
