.locationIcon_2vH5G {
    position: absolute;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
}

.geoLocateButton_2WRgl {
    height: 48px;
    width: 48px;
    margin-top: 23px;
    margin-left: 16px;
}
