module.exports = "<div class=\"user-details-wrapper clear\">\n    <a href='{{profileUrl}}' target='_blank'>\n        <div class=\"user-image user-img-50 round-all left\">\n            <img src=\"{{image}}\" alt=\"{{fullName}}\" />\n        </div>\n        <div class=\"user-details\">\n            <div class=\"user-details-fullname\">{{fullName}}</div>\n            <h6>{{headline}}</h6>\n        </div>\n    </a>\n</div>\n{{^isGroup}}\n    <div class=\"follow-button-wrapper\"></div>\n{{/isGroup}}\n{{#isGroup}}\n    {{#isLoggedInUserAdmin}}\n        {{^hideAdminMenu}}\n            {{> groups/group-manage-members-menu }}\n        {{/hideAdminMenu}}\n    {{/isLoggedInUserAdmin}}\n    {{^isLoggedInUserAdmin}}\n        <div class=\"follow-button-wrapper\"></div>\n    {{/isLoggedInUserAdmin}}\n{{/isGroup}}\n"