// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-TruncatedText-TruncatedText__truncatedTextWrapper--3_ukZ,.client-atoms-TruncatedText-TruncatedText__truncatedText--KseDs{\n\toverflow:hidden;\n}\n.client-atoms-TruncatedText-TruncatedText__truncatedText--KseDs{\n\tfont-size:18px;\n\tfont-weight:600;\n\ttext-overflow:ellipsis;\n\twhite-space:nowrap;\n}\n", "",{"version":3,"sources":["webpack://./client/atoms/TruncatedText/TruncatedText.pcss"],"names":[],"mappings":"AAKA;CAFC,eAAgB;AAQjB;AANA;CACC,cAAuB;CACvB,eAA8B;CAE9B,sBAAuB;CACvB,kBAAmB;AACpB","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';\n\n.truncatedTextWrapper {\n\toverflow: hidden;\n}\n.truncatedText {\n\tfont-size: $font-size-l;\n\tfont-weight: $font-weight-semi;\n\toverflow: hidden;\n\ttext-overflow: ellipsis;\n\twhite-space: nowrap;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"truncatedTextWrapper": "client-atoms-TruncatedText-TruncatedText__truncatedTextWrapper--3_ukZ",
	"truncatedText": "client-atoms-TruncatedText-TruncatedText__truncatedText--KseDs"
};
export default ___CSS_LOADER_EXPORT___;
