@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.actionBarTitleWrapper {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.viewOnlyTextWrapper {
	display: flex;
	align-items: center;
}

.viewOnlyText {
	color: $color-black-hex-64;
	text-transform: uppercase;
	font: $font-badge;
	letter-spacing: $letter-spacing-m;
	margin: 0 8px;
}
