module.exports = "<a class=\"class-preview preview-overlay wishlist-preview maintain-image-ratio{{#wishlistId}} saved{{/wishlistId}}{{#saved}} saved{{/saved}}\" href=\"javascript:;\">\n    {{> partials/_class-preview }}\n</a>\n"