module.exports = "<span class=\"review review-stat ss-icon-empty-heart\" data-container=\"container\" rel=\"tooltip\" data-placement=\"bottom\" data-html=\"true\">\n    {{#percentPositiveReviews}}\n        {{percentPositiveReviews}}\n    {{/percentPositiveReviews}}\n    {{^percentPositiveReviews}}\n        {{numReviews}}\n    {{/percentPositiveReviews}}\n    <div class=\"tooltip-content\">\n        {{#numRecommendations}}\n            <span class=\"iconed ss-icon-empty-thumbs-up\"></span>\n            <strong>{{numRecommendations}}</strong>\n             of\n            <strong>{{numReviews}}</strong>\n             students recommend.\n        {{/numRecommendations}}\n        {{^numRecommendations}}\n            This class hasn't been reviewed yet.\n        {{/numRecommendations}}\n    </div>\n</span>\n"