module.exports = "<div class=\"user-information small\">\n\t<p class=\"title ellipsis\">\n\t\t<a href=\"{{url}}\" class=\"link-main no-bold title-link\" data-ss-via=\"card\" data-ss-username=\"{{username}}\"{{#cardPlacement}} data-ss-placement=\"{{cardPlacement}}\"{{/cardPlacement}} {{#teacherHoverCard}}data-ss-teacher-card=\"{{teacherHoverCard}}\"{{/teacherHoverCard}}>{{fullName}}</a>\n\t</p>\n</div>"