module.exports = "<div class=\"ss-card__info\">\n\t{{#author}}\n\t\t<span class=\"ss-card__author\"><a href=\"{{url}}\" class=\"link-main no-bold title-link\" data-ss-username=\"{{username}}\">{{fullName}}</a></span>\n\t{{/author}}\n\t<span class=\"count num-likes ss-card__likes\">{{numStat}}</span>\n</div>\n<div class=\"ss-card__stats\">\n\t<span class=\"ss-card__comments\">{{commentStat}}</span>\n    <div class=\"like-btn-wrapper\"></div>\n</div>\n"