module.exports = "<div class=\"author-image user-img-75 left\" data-ss-username=\"{{username}}\" data-ss-placement=\"bottom\">\n    <a href=\"{{profileUrl}}\"{{#openInNew}} target=\"_blank\" rel=\"noreferrer\"{{/openInNew}}><img src=\"{{image}}\" /></a>\n</div>\n<div class=\"author-detail left\">\n    <h4 data-ss-username=\"{{username}}\" {{#teacherHoverCard}}data-ss-teacher-card=\"{{teacherHoverCard}}\"{{/teacherHoverCard}} data-ss-placement=\"bottom\"><a href=\"{{profileUrl}}\" class=\"link-main no-bold ellipsis\"{{#openInNew}} target=\"_blank\" rel=\"noreferrer\"{{/openInNew}}>{{fullName}}</a></h4>\n    <p class=\"author-headline ellipsis\">{{headline}}</p>\n    {{^isAuthor}}\n        <div class=\"follow-button-wrapper\"></div>\n    {{/isAuthor}}\n</div>\n"