module.exports = "<iframe src=\"{{{hostName}}}/embed/video?sessionId={{sessionId}}&width={{width}}&height={{height}}{{#authToken}}&authToken={{authToken}}{{/authToken}}\" width=\"{{width}}\" height=\"{{height}}\" frameborder=\"0\" allowfullscreen></iframe>\n<div style=\"margin: 15px 0 5px; width: {{width}};\"><a href=\"{{linkUrl}}\" style=\"color: #41444b; text-decoration: none; font-weight: 600; font-family: 'Arial', sans-serif; font-size: 14px; margin-top: 15px;\" >{{linkTitle}}</a></div>\n{{#tagLine}}<div style=\"width: {{width}}; color: #999999; font-family: 'Arial', san-serif; font-size: 12px; padding-bottom: 15px; border-bottom: solid 1px #ddd; margin-bottom: 20px;\">{{tagLine}}</div>{{/tagLine}}\n"