module.exports = "<div class=\"inner-wrapper\">\n    <ul class=\"list\">\n        {{#languageOptions}}\n            <li class=\"list-item {{isSelected}}\">\n                <a class=\"list-item-link\" data-language-id=\"{{id}}\" href=\"javascript:;\">{{label}}</a>\n            </li>\n        {{/languageOptions}}\n    </ul>\n    <div class=\"arrow-down\"></div>\n</div>\n"