module.exports = "<div class=\"user-img-75 round-all left\" data-ss-teacher-card=\"true\" data-ss-username=\"{{teacher.username}}\">\n    <img src=\"{{teacher.image}}\" alt=\"{{teacher.fullName}}\" />\n</div>\n<div class=\"class-tag right\">\n    {{^isSubscription}}{{#isNew}}<a href=\"javascript:;\"><span class=\"new-tag tag green\">New</span></a>{{/isNew}}{{/isSubscription}}\n</div>\n{{#action}}\n    <a href=\"{{url}}\" class=\"btn small orange right class-action\">{{action}}</a>\n{{/action}}\n<div class=\"class-info\">\n    <h2 class=\"class-title\"><a href=\"{{url}}\">{{title}}</a></h2>\n    <h3 class=\"teacher-info\"><span class=\"name\" data-ss-teacher-card=\"true\" data-ss-username=\"{{teacher.username}}\">{{teacher.fullName}}</span>{{#teacher.headline}}, {{/teacher.headline}}<span class=\"headline\">{{teacher.headline}}</span></h3>\n    {{> partials/_class-stats }}\n</div>\n"