@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';

.subItemsHeader {
	cursor: pointer;
	color: $color-black-hex-64;
	display: flex;
	align-items: center;
	padding: 6px 0;
}

.heading {
	margin-left: 8px;
}

.subItems {
	padding: 6px 0;
}

.collapsed {
	display: none;
}

.noItemsMessage {
	padding-top: 14px;
}
