.blm-banner
  background-color: black
  color: white
  padding: 16px 8px 14px
  text-align: center
  line-height: 1.4

.blm-banner__text
  font-weight: bold
  white-space: nowrap

.blm-banner__link
  color: #d0fff1
  font-weight: normal
  white-space: nowrap
  text-decoration: none