module.exports = "<div class=\"compact\">\n    <h4 class=\"title\">{{{viewTitle}}}</h4>\n    <p class=\"description\">{{{viewDescription}}}</p>\n    {{^showCompact}}\n       \t<div class=\"social-share-buttons-wrapper\"></div>\n    \t<div class=\"form-separator\"><p>or</p></div>\n    \t{{> shared/_email-invite }}\n    {{/showCompact}}\n</div>\n"