module.exports = "<div class=\"more-text-container\">\n    {{#truncatedText}}\n        {{{truncatedText}}}\n    {{/truncatedText}}\n    {{^truncatedText}}\n        {{{text}}}\n    {{/truncatedText}}\n</div>\n"