module.exports = "{{^buttonString}}\n    <a href=\"javascript:;\" class=\"btn-close icon-delete\"></a>\n{{/buttonString}}\n{{#checkmark}}\n<span class=\"circle\">\n    <svg class=\"ss-svg-icon icon\"><use xlink:href=\"#checkmark\" /></svg>\n</span>\n{{/checkmark}}\n<h5 class=\"detail iconed {{#checkmark}}checkmark{{/checkmark}} {{icon}}{{#buttonString}} btn-alert{{/buttonString}}\">\n    {{title}}\n    {{#action}}\n        <span class=\"action\"><a href=\"{{action}}\">{{actionString}}</a> {{^buttonString}}<span class=\"arr\">&rarr;</span>{{/buttonString}}</span>\n    {{/action}}\n    {{#buttonString}}\n        <a class=\"btn-callback button {{#buttonClass}}{{buttonClass}}{{/buttonClass}}{{^buttonClass}}alt-white-ghost{{/buttonClass}} rounded extra-small\" href=\"javascript:;\">{{buttonString}}</a>\n    {{/buttonString}}\n</h5>\n"