module.exports = "<div class=\"outer-wrapper\">\n    <div class=\"inner-wrapper\">\n        <div class=\"inner-content\">\n            <p class=\"roll-title\">{{headerText}}</p>\n            {{^shouldRenderLocdAboveTheFold}}\n                <p class=\"roll-subtitle\">{{subheaderText}}</p>\n            {{/shouldRenderLocdAboveTheFold}}\n            {{#ctaButtonText}}\n                {{#classIsFreeToTake}}\n                    <a class=\"button primary large wide\" href=\"javascript:;\" data-ss-restrict=\"signup\">{{ctaButtonText}}</a>\n                {{/classIsFreeToTake}}\n                {{^classIsFreeToTake}}\n                    <a class=\"button primary large wide\" href=\"{{checkoutUrl}}\" rel=\"nofollow\">{{ctaButtonText}}</a>\n                {{/classIsFreeToTake}}\n            {{/ctaButtonText}}\n        </div>\n    </div>\n</div>\n"