module.exports = "<div class=\"outer-wrapper\">\n    <div class=\"inner-wrapper\">\n        <div class=\"top-section\">\n            <p class=\"roll-title only-section\">Congrats! You've finished all of the lessons.</p>\n            <p class=\"roll-subtitle\">Share this class and earn {{#isAffiliateReferrer}}$10{{/isAffiliateReferrer}}{{^isAffiliateReferrer}}a free month{{/isAffiliateReferrer}} for each friend who signs up.</p>\n            <div class=\"social-share-buttons-wrapper\">\n                {{> shared/_social-share-buttons}}\n            </div>\n        </div>\n    </div>\n    <div class=\"js-class-end\"></div>\n</div>\n"