

.container_3lJl_ {
    margin-left: 16px;
    font-size: 14px;
}

.price_AI11M {
    color: #1d252c;
    font-weight: 600;
    margin-bottom: 8px;
}

.icon_1ymbj {
    fill: #0046be !important;
    height: 21px !important;
    width: 16px !important;
}

.link_2GHIn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
}
