.editNameContainer {
	padding: 16px;
	height: 58px;
}

.popoverTitle {
	margin-bottom: 8px;
}

.submit {
	margin-left: 8px;
}

.popoverContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 272px;
}

.popover {
	:global {
		.cui4-spacing {
			padding: 0px;
		}
	}
}
