.featureBanner_HhtAC {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    margin: 0;
    padding: 0 16px 32px;
    min-height: 376px;
    box-sizing: border-box;
    max-width: 1232px;
}

    .featureBanner_HhtAC .bannerContent_ToVRk {
        padding-top: 176px;
        text-align: center;
    }

    .featureBanner_HhtAC .foregroundImage_ISCMO {
        margin: auto
    }

    .featureBanner_HhtAC .foregroundImage_ISCMO + .bannerContent_ToVRk {
    padding-top: 0;
}

.featureBanner_HhtAC.dark_WYRQY {
    color: #fff;
}

@media (max-width: 767px) {
    .featureBanner_HhtAC .foregroundImage_ISCMO img {
        float: none;
    }
}

@media (min-width: 768px) {
    .featureBanner_HhtAC {
        box-sizing: border-box;
        -webkit-box-align: center;
        -webkit-align-items: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
                flex-direction: row;
        min-height: 448px;
        padding: 24px 64px;
        margin: 0 auto;
    }

        .featureBanner_HhtAC .bannerContent_ToVRk {
            text-align: left;
            box-sizing: border-box;
            padding-top: 0;
            width: 45%;
        }

        .featureBanner_HhtAC .foregroundImage_ISCMO {
            width: 55%;
            height: auto;
            box-sizing: border-box;
            -webkit-flex-shrink: 0;
                    flex-shrink: 0;
            padding: 0 24px 0 0;
        }

        .featureBanner_HhtAC .logoContainer_ZNutH {
            text-align: left;
        }

            .featureBanner_HhtAC .logoContainer_ZNutH .logo_KWbD6 {
                width: 50%;
            }

            .featureBanner_HhtAC .logoContainer_ZNutH img {
                display: inline-block;
            }

    .featureBanner_HhtAC.left_2XLcg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
    }

    .featureBanner_HhtAC.left_2XLcg .foregroundImage_ISCMO {
                padding: 0 0 0 24px;
    }

    .featureBanner_HhtAC.right_1Z_t0 {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
    }

    .featureBanner_HhtAC.centre_2MetX {
        text-align: center;
        margin: 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
                flex-direction: column;
    }

    .featureBanner_HhtAC.centre_2MetX .foregroundImage_ISCMO {
                padding: 0 0 24px;
                width: 100%;
    }

    .featureBanner_HhtAC.centre_2MetX .ctaBlock_vIBWj {
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                        justify-content: center;
    }

    .featureBanner_HhtAC.centre_2MetX .bannerContent_ToVRk {
                width: 100%;
    }

    .featureBanner_HhtAC.centre_2MetX .bannerContent_ToVRk,
            .featureBanner_HhtAC.centre_2MetX .logoContainer_ZNutH {
                text-align: center;
    }
}

@media (min-width: 1025px) {
    .featureBanner_HhtAC {
        padding: 24px 102px
    }
    .featureBanner_HhtAC.centre_2MetX {
        width: 75%;
    }
    .featureBanner_HhtAC.centre_2MetX .bannerContent_ToVRk {
                width: auto;
    }
    .featureBanner_HhtAC.centre_2MetX .logoContainer_ZNutH {
                width: 70%;
                margin: 0 auto;
    }
}
