@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.dropNewReportArea {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px dashed $color-black-hex-12;
	border-radius: 2px;
	font-weight: $font-weight-semi;
	color: $color-black-hex-64;
	height: 100%;
	text-align: center;
}

.hoverDrop {
	background: $color-black-hex-8;
}

.isAlreadyInDashboard {
	cursor: not-allowed;
}
