@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.noConditionsText {
	font: $font-badge;
	color: $color-black-hex-32;
	text-transform: uppercase;
	position: relative;
	display: inline-flex;
	min-height: 24px;
	align-items: center;
}
