// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-shared-newItemModal-NewItemModal__modal--1XWJk .cui4-modal__wrap{\n\t\t\twidth:624px;\n\t\t}\n\t\t\t.client-shared-newItemModal-NewItemModal__modal--1XWJk .cui4-modal__wrap .cui4-modal__footer{\n\t\t\t\tjustify-content:flex-end;\n\t\t\t}\n\n.client-shared-newItemModal-NewItemModal__modalContent--3dWL7{\n\tdisplay:flex;\n\tmin-height:276px;\n}\n", "",{"version":3,"sources":["webpack://./client/shared/newItemModal/NewItemModal.pcss"],"names":[],"mappings":"AAEE;GACC,WAAY;EAIb;GAHC;IACC,wBAAyB;GAC1B;;AAKH;CACC,YAAa;CACb,gBAAiB;AAClB","sourcesContent":[".modal {\n\t:global {\n\t\t.cui4-modal__wrap {\n\t\t\twidth: 624px;\n\t\t\t.cui4-modal__footer {\n\t\t\t\tjustify-content: flex-end;\n\t\t\t}\n\t\t}\n\t}\n}\n\n.modalContent {\n\tdisplay: flex;\n\tmin-height: 276px;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"modal": "client-shared-newItemModal-NewItemModal__modal--1XWJk",
	"modalContent": "client-shared-newItemModal-NewItemModal__modalContent--3dWL7"
};
export default ___CSS_LOADER_EXPORT___;
