// inherits from overlays.styl

.new-stuff-overlay
  max-width: 700px
  .new-stuff-doggo
    width: 50px
    height: 53px
    background-size: cover
    margin: 0
    float: left
    margin-right: 10px
  .button
    margin-top: 5px
  section h2
   margin-bottom: 0
  video
    margin-bottom: 12px
  img, video
    border-radius: 5px
    border: 1px solid input-border
    max-width: 100%
  code
    font-family: monospace
    background-color: secondary-background-active
    font-size: 13px
  li
    margin-bottom: 5px
    background-position: center
    background-repeat: no-repeat
    list-style-type:square
