@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	padding: 64px;
}

.panelHasMargin {
	&.panel {
		margin: 16px;
	}

	&.panelSmall {
		margin: 8px;
	}
}

.smallIcon {
	padding-top: 24px;
}

.title {
	font: $font-title-l;
	margin-bottom: 8px;
}

.buttonGroup {
	> * + * {
		margin-left: 8px;
	}
}

.textStrong {
	font-weight: $font-weight-semi;
}
