// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-sidemenu-SidemenuCollapse__loader--1sT9P{\n\tdisplay:flex;\n\tjustify-content:center;\n}\n.client-sidemenu-SidemenuCollapse__collapse--3kCzd + .client-sidemenu-SidemenuCollapse__collapse--3kCzd{\n\t\tmargin-top:24px;\n\t}\n.client-sidemenu-SidemenuCollapse__emptyMessage---jpws{\n\tcolor:#747678;\n\tpadding-top:14px;\n}\n", "",{"version":3,"sources":["webpack://./client/sidemenu/SidemenuCollapse.pcss"],"names":[],"mappings":"AAEA;CACC,YAAa;CACb,sBAAuB;AACxB;AAGC;EACC,eAAgB;CACjB;AAGD;CACC,aAA0B;CAC1B,gBAAiB;AAClB","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';\n\n.loader {\n\tdisplay: flex;\n\tjustify-content: center;\n}\n\n.collapse {\n\t+ .collapse {\n\t\tmargin-top: 24px;\n\t}\n}\n\n.emptyMessage {\n\tcolor: $color-black-hex-64;\n\tpadding-top: 14px;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"loader": "client-sidemenu-SidemenuCollapse__loader--1sT9P",
	"collapse": "client-sidemenu-SidemenuCollapse__collapse--3kCzd",
	"emptyMessage": "client-sidemenu-SidemenuCollapse__emptyMessage---jpws"
};
export default ___CSS_LOADER_EXPORT___;
