@import '@pipedrive/convention-ui-css/dist/postcss/colors.postcss';
@import '@pipedrive/convention-ui-css/dist/postcss/fonts.postcss';

.reportNotAvailableContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font: $font-title-l;
	margin-bottom: 8px;
}

.informativeText {
	margin-top: 16px;
	margin-bottom: 16px;
}
