@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.addConditionBtn {
	font: $font-button-s;
	cursor: pointer;
	align-items: center;
	display: flex;
	border-radius: 100%;
	z-index: 1;

	span {
		color: $color-blue-hex;
		position: absolute;
		left: 28px;
	}
}

.filterActions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
