// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-shared-actionBar-ActionBar__actionBar--1-FB8{\n\tbackground:#f7f7f7;\n\ttop:0;\n\tz-index:3;\n\tposition:sticky;\n}\n\n\t.client-shared-actionBar-ActionBar__actionBar--1-FB8 .cui4-option--disabled:hover .cui4-icon{\n\t\t\tfill:#404346;\n\t\t}\n", "",{"version":3,"sources":["webpack://./client/shared/actionBar/ActionBar.pcss"],"names":[],"mappings":"AAEA;CACC,kBAA8B;CAC9B,KAAM;CACN,SAAU;CACV,eAAgB;AAOjB;;CAJE;GACC,YAAyB;EAC1B","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';\n\n.actionBar {\n\tbackground: $color-black-hex-4;\n\ttop: 0;\n\tz-index: 3;\n\tposition: sticky;\n\n\t:global {\n\t\t.cui4-option--disabled:hover .cui4-icon {\n\t\t\tfill: $color-black-hex-88;\n\t\t}\n\t}\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"actionBar": "client-shared-actionBar-ActionBar__actionBar--1-FB8"
};
export default ___CSS_LOADER_EXPORT___;
