// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-shared-actionBar-ActionButtons__actionButtons--3sLCa{\n\tdisplay:flex;\n\tpadding:12px 16px;\n\twhite-space:nowrap;\n}\n\n\t.client-shared-actionBar-ActionButtons__actionButtons--3sLCa > * + *{\n\t\tmargin-left:8px;\n\t}\n", "",{"version":3,"sources":["webpack://./client/shared/actionBar/ActionButtons.pcss"],"names":[],"mappings":"AAAA;CACC,YAAa;CACb,iBAAkB;CAClB,kBAAmB;AAKpB;;CAHC;EACC,eAAgB;CACjB","sourcesContent":[".actionButtons {\n\tdisplay: flex;\n\tpadding: 12px 16px;\n\twhite-space: nowrap;\n\n\t> * + * {\n\t\tmargin-left: 8px;\n\t}\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"actionButtons": "client-shared-actionBar-ActionButtons__actionButtons--3sLCa"
};
export default ___CSS_LOADER_EXPORT___;
