.mobileFormLink_mlWXD {
    width: 100%;
}

.mobileFormLink_mlWXD:hover {
    text-decoration: none;
}

.mobileFormButton_4SDiw {
    display: block;
    height: 48px;
    width: 100%;
    padding: 0;
}
