// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-FullscreenSpinner-FullscreenSpinner__spinner--1q1N3{\n\tdisplay:flex;\n\talign-items:center;\n\tjustify-content:center;\n\theight:100%;\n\twidth:100%;\n}\n", "",{"version":3,"sources":["webpack://./client/atoms/FullscreenSpinner/FullscreenSpinner.pcss"],"names":[],"mappings":"AAAA;CACC,YAAa;CACb,kBAAmB;CACnB,sBAAuB;CACvB,WAAY;CACZ,UAAW;AACZ","sourcesContent":[".spinner {\n\tdisplay: flex;\n\talign-items: center;\n\tjustify-content: center;\n\theight: 100%;\n\twidth: 100%;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"spinner": "client-atoms-FullscreenSpinner-FullscreenSpinner__spinner--1q1N3"
};
export default ___CSS_LOADER_EXPORT___;
