@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';

.loader {
	display: flex;
	justify-content: center;
}

.collapse {
	+ .collapse {
		margin-top: 24px;
	}
}

.emptyMessage {
	color: $color-black-hex-64;
	padding-top: 14px;
}
