@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';
@import '@pipedrive/convention-ui-css/dist/scss/elevations.scss';

.button {
	margin-left: 10px;
}

.dropmenu {
	display: flex;
}

.option {
	display: flex;
	align-items: center;
}

.icon {
	margin-right: 4px;
}

.content {
	min-width: 196px;
}
