// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-DataTableLoader-DataTableLoader__dataTableLoaderContainer--36h8s{\n\tdisplay:flex;\n}\n\n.client-atoms-DataTableLoader-DataTableLoader__dataTableLoader--2CFgn{\n\tdisplay:flex;\n\tjustify-content:center;\n\twidth:100%;\n\tmargin:15px;\n}\n\n.client-atoms-DataTableLoader-DataTableLoader__dataTableLoader--2CFgn .cui4-spinner{\n\t\t\tleft:0 !important;\n\t\t\ttop:0 !important;\n\t\t}\n", "",{"version":3,"sources":["webpack://./client/atoms/DataTableLoader/DataTableLoader.pcss"],"names":[],"mappings":"AAAA;CACC,YAAa;AACd;;AAEA;CACC,YAAa;CACb,sBAAuB;CACvB,UAAW;CACX,WAAY;AAQb;;AALE;GACC,iBAAkB;GAClB,gBAAiB;EAClB","sourcesContent":[".dataTableLoaderContainer {\n\tdisplay: flex;\n}\n\n.dataTableLoader {\n\tdisplay: flex;\n\tjustify-content: center;\n\twidth: 100%;\n\tmargin: 15px;\n\n\t:global {\n\t\t.cui4-spinner {\n\t\t\tleft: 0 !important;\n\t\t\ttop: 0 !important;\n\t\t}\n\t}\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"dataTableLoaderContainer": "client-atoms-DataTableLoader-DataTableLoader__dataTableLoaderContainer--36h8s",
	"dataTableLoader": "client-atoms-DataTableLoader-DataTableLoader__dataTableLoader--2CFgn"
};
export default ___CSS_LOADER_EXPORT___;
