.mobileActivationStepsGuide_3bO0f {
    margin-bottom: 24px;
}

.row_36k1E {
    margin: 0;
}

.column_1VMh6 {
    padding: 0;
}

@media (max-width: 767px) {
    .column_1VMh6 {
        padding: 12px;
    }
}
