// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-Link-Link__link--24zY_{\n\ttext-decoration:none;\n\tcolor:#26292c;\n}\n.client-atoms-Link-Link__link--24zY_:hover{\n\t\ttext-decoration:underline;\n\t}\n", "",{"version":3,"sources":["webpack://./client/atoms/Link/Link.pcss"],"names":[],"mappings":"AAEA;CACC,oBAAqB;CACrB,aAAuB;AAKxB;AAHC;EACC,yBAA0B;CAC3B","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/postcss/colors.postcss';\n\n.link {\n\ttext-decoration: none;\n\tcolor: $color-black-hex;\n\n\t&:hover {\n\t\ttext-decoration: underline;\n\t}\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"link": "client-atoms-Link-Link__link--24zY_"
};
export default ___CSS_LOADER_EXPORT___;
