// extracted by mini-css-extract-plugin
export default {"panel":"client-components-Panels-RightPanel-RightPanel__panel--9wciN","extendedPanel":"client-components-Panels-RightPanel-RightPanel__extendedPanel--2BRYt","iconFieldsWrapper":"client-components-Panels-RightPanel-RightPanel__iconFieldsWrapper--14FGt","separator":"client-components-Panels-RightPanel-RightPanel__separator--25VgP","fields":"client-components-Panels-RightPanel-RightPanel__fields--3hhIS","disabledTooltip":"client-components-Panels-RightPanel-RightPanel__disabledTooltip--25mvI","formField":"client-components-Panels-RightPanel-RightPanel__formField--OEaG3"};