@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.subHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stats {
	align-self: center;
}

.exportButton {
	position: absolute;
	right: 16px;
	top: 59px;
}
