// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-SimpleModal-SimpleModal__submit--2qNmI{\n\tmargin-left:8px;\n}\n\n.client-atoms-SimpleModal-SimpleModal__dashboardsListItem--2Ek1n + .client-atoms-SimpleModal-SimpleModal__dashboardsListItem--2Ek1n{\n\t\tmargin-top:4px;\n\t}\n", "",{"version":3,"sources":["webpack://./client/atoms/SimpleModal/SimpleModal.pcss"],"names":[],"mappings":"AAAA;CACC,eAAgB;AACjB;;AAGC;EACC,cAAe;CAChB","sourcesContent":[".submit {\n\tmargin-left: 8px;\n}\n\n.dashboardsListItem {\n\t+ .dashboardsListItem {\n\t\tmargin-top: 4px;\n\t}\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"submit": "client-atoms-SimpleModal-SimpleModal__submit--2qNmI",
	"dashboardsListItem": "client-atoms-SimpleModal-SimpleModal__dashboardsListItem--2Ek1n"
};
export default ___CSS_LOADER_EXPORT___;
