.vertical {
	transform: rotate(-90deg);
	transform-origin: 0 0;
	z-index: 1;
	width: 400px;
	display: flex;
	justify-content: space-around;
	left: 0;
}

.horizontal {
	position: absolute;
	display: flex;
	justify-content: space-around;
	width: 100%;
	bottom: 0;
}

.hidden {
	display: none;
}

.vertical.centerAligned,
.horizontal.centerAligned {
	justify-content: center;
}

.measureByPrefix {
	margin-top: 5px;
	margin-right: 8px;
}

.label {
	position: relative;
	top: 4px;
	right: 8px;
}
