

@media (max-width: 767px) {
    .submitButton_jKmyh {
        width: 100%;
    }
}

.title_f3-gJ {
    margin-top: 16px;
}

.pageContainer_2qmeI {
    box-sizing: border-box;
    max-width: calc(1281px - 1px);
    margin: 0 auto;
}

.contentContainer_2JApC {
    max-width: 768px;
    padding: 0 16px;
}

.label_3BGsJ {
    color: #1d252c;
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin: 0 0 5px;
}

.input_22qJL {
    font-weight: 300;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    height: 48px;
    padding: 12px;
    border: 1px solid #e0e6ef;
    border-radius: 2px;
    margin: 0 0 16px;
    outline: none;
}

.input_22qJL:focus,
.select_2OmIg:focus,
.mutliSelect_1PB1_:focus {
    box-shadow: 0 0 0 4px rgba(8, 94, 185, .15);
    border: 2px solid #001e73;
}

.select_2OmIg {
    font-weight: 300;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    vertical-align: middle;
    height: 48px;
    padding: 12px 32px 12px 12px;
    border: 1px solid #e0e6ef;
    -webkit-transition: font-size 0.2s;
    transition: font-size 0.2s;
    outline: none;
    margin: 0 0 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.submitButton_jKmyh,
.submitButton_jKmyh:focus {
    margin-top: 14px;
    margin-bottom: 24px;
}

.hidden_1BYFx {
    display: none;
}

.footerText_FnSQT {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
}

.fullHeight_1fxO_ {
    height: 100vh;
}

@media (min-width: 768px) {
    .title_f3-gJ {
        margin-top: 0;
    }
}

@media (min-width: 1025px) {
    .contentContainer_2JApC {
        padding: 0 24px;
    }
}
