module.exports = "<div class=\"video-image\" style=\"background-image: url('{{video_mid_thumbnail_url}}')\">\n    <div class=\"cta ss-icon-play {{enrollForFree}}\">\n        <div class=\"ss-button-text\">{{buttonText}}</div>\n    </div>\n</div>\n"