module.exports = "{{#subscriptionEnrollUrl}}<a href=\"{{subscriptionEnrollUrl}}\" rel=\"nofollow\" class=\"locked-enroll-button\" {{#restrict}} data-ss-restrict=\"{{restrict}}\" data-ss-redirect=\"{{subscriptionEnrollUrl}}\"{{/restrict}}>{{/subscriptionEnrollUrl}}\n    {{> modules/_video-player-cta}}\n{{#subscriptionEnrollUrl}}</a>{{/subscriptionEnrollUrl}}\n\n"