module.exports = "{{#totalNumNotes}}\n    <div class=\"ss-icon-notes-pin view-notes active-note\" rel=\"tooltip\" title=\"View Notes\">{{totalNumNotes}}</div>\n    <div class=\"ss-icon-notes-pin view-notes inactive-note\">{{totalNumNotes}}</div>\n{{/totalNumNotes}}\n"