.field {
	display: flex;
	padding: 6px 0;
}

.item {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.icon {
	margin: 0 8px 0 0;
}

.label {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
