module.exports = "<div class=\"about-this-class-wrapper\">\n    <div class=\"about-this-class\">\n        <h2 class=\"section-header title\">About This Class</h2>\n        <div class=\"description-column\">\n            <div class=\"rich-content-wrapper js-accordion accordion-collapsed\">\n                {{#description}}\n                    <p>{{{description}}}</p>\n                {{/description}}\n            </div>\n        </div>\n    </div>\n</div>\n"