module.exports = "<div class=\"session-info\">\n    <h4 class=\"session-title\">{{title}}</h4><span class=\"num-notes ss-icon-notes-pin\">{{numNotesString}}</span>\n</div>\n<div class=\"learn-mode-notes-collection-wrapper\"></div>\n"