module.exports = "{{#hasTags}}\n    <div class=\"tags-section\">\n        <h2 class=\"title\">Related Skills</h2>\n        {{#tags}}\n            <a class=\"tag light\" href=\"{{url}}\" data-ss-tag=\"{{slug}}\" target=\"_blank\" rel=\"noreferrer\">{{name}}</a>\n        {{/tags}}\n    </div>\n{{/hasTags}}\n"