module.exports = "<div class=\"project-gallery\">\n    <h2 class=\"section-header title\">Class Projects{{#showProjectCount}} <span class=\"header-count\">{{numProjects}}</span>{{/showProjectCount}} <a href=\"{{allProjectUrl}}\" class=\"see-all-btn button alt-charcoal-ghost right\">See All</a></h2>\n    <div class=\"class-project\">\n        <div class=\"class-project-snippet ellipsis\">{{classProjectSnippet}}</div>\n        <a href=\"{{baseUrl}}/projects\" class=\"class-project-read-more section-navigation alternate\">(Read More)</a>\n    </div>\n    <div class=\"projects-list row\">\n        {{#topProjects}}\n            {{> shared/_small-list-view-grid-item}}\n        {{/topProjects}}\n    </div>\n</div>\n"