module.exports = "<!-- Student Project -->\n{{#userProject}}\n    {{#hasProject}}\n        <div class=\"student-project{{#columnSize}} col-{{columnSize}}{{/columnSize}}\">\n                <div class=\"project-column\">\n                    <a href=\"{{url}}\" class=\"image-link section-navigation\">\n                        <div class=\"project-information\">\n                            <span class=\"count num-likes ss-icon-heart\">{{numLikes}}</span>\n                        </div>\n                        <div class=\"background-image-holder\" style=\"background-image: url({{projectImage}})\"></div>\n                    </a>\n                    <a class=\"edit-project section-navigation\" href=\"{{editUrl}}\"><strong>Edit Your Project</strong></a>\n                </div>\n        </div>\n    {{/hasProject}}\n{{/userProject}}\n"