// extracted by mini-css-extract-plugin
export default {"duplicatesWarning":"client-components-Fields-RelatedContactFormField-RelatedContactFormField__duplicatesWarning--22VjL","reviewLink":"client-components-Fields-RelatedContactFormField-RelatedContactFormField__reviewLink--16geT","contactSuggestions":"client-components-Fields-RelatedContactFormField-RelatedContactFormField__contactSuggestions--3J3Yc"};