

.geekSquadIcon_3chxu {
    width: 100px;
    height: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 34px;
            flex: 0 0 34px;
    margin-top: 4px;
}

.geekSquadHeader_Hvutd {
    margin: 0 0 0 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.topWrapper_8EdW6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 24px;
}

.geekSquadTC_1ouoc ul {
    margin-left: 0;
    margin-top: 6px;
    padding-left: 16px;
}
