// extracted by mini-css-extract-plugin
export default {"form":"client-components-Products-ProductsForm-ProductsForm__form--3AuMe","addOneMore":"client-components-Products-ProductsForm-ProductsForm__addOneMore--19HzQ","total":"client-components-Products-ProductsForm-ProductsForm__total--3T9fO","totalText":"client-components-Products-ProductsForm-ProductsForm__totalText--2Lz4I","totalValue":"client-components-Products-ProductsForm-ProductsForm__totalValue--3cAoY"};