.shareLinksButtonWrapper {
	display: inline-block;
	margin-right: 8px;
}

.shareLinksButton {
	&:disabled {
		cursor: default;
		pointer-events: none;
	}
}

.shareDashboardButtonWrapper {
	display: inline-block;
}
