// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-shared-export-exportDialogButton-ExportDialogButton__tooltip--hgrPR{\n\tz-index:99;\n}\n", "",{"version":3,"sources":["webpack://./client/shared/export/exportDialogButton/ExportDialogButton.pcss"],"names":[],"mappings":"AAAA;CACC,UAAW;AACZ","sourcesContent":[".tooltip {\n\tz-index: 99;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"tooltip": "client-shared-export-exportDialogButton-ExportDialogButton__tooltip--hgrPR"
};
export default ___CSS_LOADER_EXPORT___;
