

.soldAndShippedBy_319gh {
    color: #55555a;
    font-size: 12px;
    line-height: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.marketplaceLogo_14OwV {
    max-height: 14px;
    max-width: 14px;
    padding: 1px;
    margin-right: 4px;
}

.marketplaceName_3FG8H {
    top: 2px;
    position: relative;
    left: 1px;
}
