

.review_3kZbU {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.reviewListWrapper_2Uof7 .review_3kZbU:last-child {
    margin-bottom: 0;
}

.reviewListWrapper_2Uof7 .review_3kZbU:last-child .reviewContent_EqzGZ {
    margin-bottom: 0;
}

.reviewItem_WTNaF {
    font-size: 12px;
    line-height: 16px;
    word-wrap: break-word;
}

.reviewTitle_2Ells {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.ratingBlock_C7r6n {
    height: 16px;
    margin-bottom: 8px;
}

.divider_13C9z {
    margin: 32px 0 !important;
}

.reviewContent_EqzGZ {
    font-size: 16px;
    margin-bottom: 8px;
}

.reviewContent_EqzGZ p {
    margin: 0;
}

.author_LfEni {
    margin-bottom: 0;
}

.authorName_2Vl4I {
    font-weight: 600;
}

.locationAndTime_IM2X7 {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
}

.spacing_d0thD {
    padding-bottom: 24px;
}
