@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.container {
	height: auto;
}

.stickyHeader {
	position: sticky;
	top: 0;
	z-index: 1;
	background: $color-black-hex-4;
}

.errorMessageArea {
	height: 100%;
}

.errorMessagePanel {
	height: 100%;
	display: flex;
	justify-content: center;
}
