@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.message {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 16px;
	min-height: 360px;
	height: calc(100vh - 140px);
	text-align: center;
	width: 100%;
}

.title {
	font-size: $font-size-xxl;
	margin-top: 32px;
}

.subtitle {
	font-size: $font-size-l;
	margin-top: 20px;
	color: $color-black-hex-64;
}
