// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-CappingCounter-CappingCounter__counter--KaVqx{\n\tdisplay:flex;\n}\n.client-atoms-CappingCounter-CappingCounter__countText--2BkoP{\n\tcolor:#747678;\n\tfont-size:13px;\n\tline-height:16px;\n\tfont-weight:400;\n\tmargin-right:8px;\n}\n", "",{"version":3,"sources":["webpack://./client/atoms/CappingCounter/CappingCounter.pcss"],"names":[],"mappings":"AAGA;CACC,YAAa;AACd;AAEA;CACC,aAA0B;CAC1B,cAAuB;CACvB,gBAA2B;CAC3B,eAAgC;CAChC,gBAAiB;AAClB","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';\n@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';\n\n.counter {\n\tdisplay: flex;\n}\n\n.countText {\n\tcolor: $color-black-hex-64;\n\tfont-size: $font-size-s;\n\tline-height: $line-height-s;\n\tfont-weight: $font-weight-normal;\n\tmargin-right: 8px;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"counter": "client-atoms-CappingCounter-CappingCounter__counter--KaVqx",
	"countText": "client-atoms-CappingCounter-CappingCounter__countText--2BkoP"
};
export default ___CSS_LOADER_EXPORT___;
