// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-SharePublicLinksButton-SharePublicLinksButton__shareLinksButtonWrapper--ucqIH{\n\tdisplay:inline-block;\n\tmargin-right:8px;\n}\n\n.client-atoms-SharePublicLinksButton-SharePublicLinksButton__shareLinksButton--2LnMn:disabled{\n\t\tcursor:default;\n\t\tpointer-events:none;\n\t}\n\n.client-atoms-SharePublicLinksButton-SharePublicLinksButton__shareDashboardButtonWrapper--QgszA{\n\tdisplay:inline-block;\n}\n", "",{"version":3,"sources":["webpack://./client/atoms/SharePublicLinksButton/SharePublicLinksButton.pcss"],"names":[],"mappings":"AAAA;CACC,oBAAqB;CACrB,gBAAiB;AAClB;;AAGC;EACC,cAAe;EACf,mBAAoB;CACrB;;AAGD;CACC,oBAAqB;AACtB","sourcesContent":[".shareLinksButtonWrapper {\n\tdisplay: inline-block;\n\tmargin-right: 8px;\n}\n\n.shareLinksButton {\n\t&:disabled {\n\t\tcursor: default;\n\t\tpointer-events: none;\n\t}\n}\n\n.shareDashboardButtonWrapper {\n\tdisplay: inline-block;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"shareLinksButtonWrapper": "client-atoms-SharePublicLinksButton-SharePublicLinksButton__shareLinksButtonWrapper--ucqIH",
	"shareLinksButton": "client-atoms-SharePublicLinksButton-SharePublicLinksButton__shareLinksButton--2LnMn",
	"shareDashboardButtonWrapper": "client-atoms-SharePublicLinksButton-SharePublicLinksButton__shareDashboardButtonWrapper--QgszA"
};
export default ___CSS_LOADER_EXPORT___;
