.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.padding {
	padding: 40px 64px 64px 64px;
}

.text {
	margin-top: 24px;
	margin-bottom: 16px;
	text-align: center;
}