.my-design-infinite-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  grid-gap: 40px 10px;
  grid-auto-rows: minmax(280px, 280px);
  color: white;
  overflow: visible !important;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    grid-gap: 10px 10px;
  }
}

.my-assets-infinite-scroll,
.my-templates-components-infinite-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 40px 13px;
  padding-top: 3px;
  overflow: unset !important;
}

.view-folder-content-infinite-scroll {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px 20px;
  color: white;
  overflow: hidden !important;
  padding: 3px 0px 0px 5px;
}

.view-all-templates-infinite-scroll {
  color: white;
  overflow: hidden !important;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

.guided-infinite-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  grid-gap: 15px 15px;
  color: white;
  justify-content: center;
}

.ai-infinite-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px 10px;
  color: white;
  justify-content: center;
  grid-auto-rows: minmax(200px, 200px);
}

.ai-new-document-infinite-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 10px 10px;
  color: white;
  justify-content: center;
  grid-auto-rows: minmax(130px, 130px);

  &::-webkit-scrollbar {
    display: none;
  }
}

.ai-results-infinite-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20px 20px;
  grid-auto-rows: minmax(140px, 160px);
  color: white;
  overflow: visible !important;
}

.start-from-scratch-presets-infinite-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 30px 30px;
  overflow: unset !important;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px 15px;
  }
}
