/**
 * Do not import full CUI-css here as webapp is doing it already :)
 * @import '@pipedrive/convention-ui-css';
 */
@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.insights {
	position: relative;
	display: flex;
	height: 100%;
	z-index: 1;
}
