// extracted by mini-css-extract-plugin
export default {"productOptions":"client-components-Products-ProductSelectContent-ProductSelectContent__productOptions--3dAAc","option":"client-components-Products-ProductSelectContent-ProductSelectContent__option--3xjpI"};