@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';

.popover {
	width: 260px;
	max-height: 420px;
}

.options {
	max-height: 320px;
	overflow: auto;
}

.label {
	margin-right: 16px;
	position: relative;
	top: 6px;
}
