@import '@pipedrive/convention-ui-css/dist/postcss/colors.postcss';

.noSharedLinksContainer {
	text-align: center;
	margin: 64px;

	.noSharedLinksText {
		p {
			color: $color-black-hex-64;
		}

		h2 {
			margin-bottom: 10px;
		}
	}

	.illustration {
		margin-bottom: 28px;
	}
}
