@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.error {
	text-align: center;
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.errorHeader {
	font: $font-body;
}

.errorCaption {
	font: $font-body-s;
	color: $color-black-hex-64 !important;
}
