@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.truncatedTextWrapper {
	overflow: hidden;
}
.truncatedText {
	font-size: $font-size-l;
	font-weight: $font-weight-semi;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
