@import '@pipedrive/convention-ui-css/dist/postcss/config.postcss';

.titleWrapper {
	display: flex;
	align-items: center;
}

.title {
	@extend %font-title-l;
	margin-right: 8px;
}

.titleInWidget {
	font: $font-title-m;
}
