module.exports = "<a href=\"javascript:;\" class=\"btn-close ss-icon-close\"></a>\n<h4 class=\"popup-title\">\n    {{#popupTitle}}{{popupTitle}}{{/popupTitle}}\n    {{^popupTitle}}Email This Class{{/popupTitle}}\n</h4>\n{{> shared/_email-invite }}\n"