module.exports = "<div class=\"free-access-link-confirmation-popup-content\">\n    <div class=\"hero-img\"></div>\n    <div class=\"main\">\n        <div class=\"header bottom-border\">\n            <a class=\"btn-close js-welcome-brand-refresh-close alternate no-underline close-button close-link\" href=\"javascript:;\">\n                <svg class=\"ss-svg-icon\"><use xlink:href=\"#close\"></use></svg>\n            </a>\n        </div>\n\n        <div class=\"content\">\n            <h1>Congratulations!</h1>\n            <p>You now have free access to this premium class. Enjoy, and start exploring your creativity!</p>\n        </div>\n    </div>\n</div>\n"