module.exports = "<a href=\"javascript:;\" class=\"btn-close ss-icon-close\"></a>\n<h4 class=\"popup-title\">My Notes in {{title}}</h4>\n<div class=\"learn-mode-sessions-collection-wrapper icon-loading\"></div>\n<div class=\"empty-area\">You have no notes in this class.</div>\n"