module.exports = "<div class=\"cta-heading\">\n    <div class=\"header\">\n        <div class=\"premium-upgrade-icon\"></div>\n        <h1 class=\"popup-header-text\">{{headerText}}</h1>\n        <p class=\"popup-header-sub-text\">{{subheaderText}}</p>\n        <a href=\"javascript:;\" class=\"btn-close ss-icon-close\"></a>\n    </div>\n</div>\n<div class=\"cta-info\">\n    <a href=\"{{checkoutUrl}}\" class=\"btn primary large full-width\">{{ctaButtonText}}</a>\n</div>\n"