module.exports = "<div class=\"group-popup-wrapper\">\n    <a href=\"javascript:;\" class=\"btn-close ss-icon-close\"></a>\n    <h2 class=\"group-popup-header\">Remove this member?</h2>\n    <p class=\"group-popup-copy-text\">This person will no longer be part of this group.</p>\n    <div class=\"group-popup-metadata group-member-info\">\n        {{> groups/group-member}}\n    </div>\n    <div class=\"group-popup-footer\">\n        <div class=\"group-popup-footer-btns-wrapper\">\n            <button class=\"group-popup-btn button medium\">Remove</button>\n            <button class=\"group-popup-cancel-btn button btn-action-cancel medium alt-charcoal-ghost\">Cancel</button>\n        </div>\n        <div class=\"group-popup-footer-subtext\">\n            This person can re-join this group again at any time.\n        </div>\n    </div>\n</div>\n"