module.exports = "<a href=\"javascript:;\" class=\"btn-close ss-icon-close\"></a>\n<div class=\"content\">\n    <div class=\"resume-membership-prompt\">\n        <h3 class=\"font-size-3 popup-header\">Resume your Premium Membership</h3>\n        <p class=\"font-size-4 desc\">You must resume your Premium Membership to access premium classes.</p>\n        <a class=\"btn small primary resume-membership\" id=\"resume-membership-id\">Resume Premium Membership</a>\n    </div>\n    <a href=\"javascript:;\" class=\"btn-close ss-icon-close\"></a>\n</div>\n\n"