module.exports = "<p class=\"unenroll-popup-content\">\n    Unenrolling from this class will remove it from your My Classes section and profile. \n    You will no longer receive notifications for this class.\n</p>\n<p>\n    You will be able to access and edit your project in this class.\n</p>\n"