module.exports = "<a href=\"javascript:;\" class=\"btn-close ss-icon-close\"></a>\n<h3 class=\"user-list-title\">{{title}} &middot; <span class=\"num-users\"></span> members</h3>\n<div class=\"follower-following-search-wrapper\">\n    <svg class=\"ss-svg-icon\"><use xlink:href=\"#search\" /></svg>\n    <input class=\"js-follower-following-search\" type=\"text\" name=\"follower-following-search\" />\n</div>\n<div class=\"users-collection-wrapper infinite-scroller-container\"></div>\n<div class=\"empty-area-container\">\n    <div class=\"empty-area\">{{emptyMessage}}</div>\n</div>\n"