@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.container {
	padding: 12px 60px 12px 36px;
	width: 600px;
}

.messageContainer {
	display: flex;

	p {
		text-align: center;
		margin: 0 0 0 -16px;
	}
}

.textStrong {
	font-weight: $font-weight-semi;
}
