// extracted by mini-css-extract-plugin
export default {"row":"client-components-Products-ProductsFormRow-ProductsFormRow__row--bXkOO","item":"client-components-Products-ProductsFormRow-ProductsFormRow__item--21W5G","price":"client-components-Products-ProductsFormRow-ProductsFormRow__price--i2sjZ","quantity":"client-components-Products-ProductsFormRow-ProductsFormRow__quantity--7FAs3","amount":"client-components-Products-ProductsFormRow-ProductsFormRow__amount--OxuX_"};