

.manufacturerPageContainer_Pxzfy {
    margin-top: 16px;
    margin-bottom: 40px;
}

.manufacturerPageContainer_Pxzfy .backBtnContainer_ochVQ {
    margin: 0 0 16px 16px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.backBtnContainer_ochVQ .backButton_2lbXM {
    position: relative;
    padding-left: 19px;
    font-size: 14px;
    height: 20px;
}

.backBtnContainer_ochVQ .leftChevron_2O3PF {
    position: absolute;
    width: 16px;
    left: 0;
    top: 1.6px;
}

.manufacturerPageContainer_Pxzfy a {
    text-decoration: none;
    color: #0046be;
    font-weight: 600;
}

.manufacturerPageContainer_Pxzfy a:hover {
    text-decoration: underline;
}

.manufacturerPageContainer_Pxzfy hr {
    margin: 0;
}

@media (min-width: 768px) {
    .manufacturerPageContainer_Pxzfy hr {
        height: 0;
    }

    .manufacturerPageContainer_Pxzfy .backBtnContainer_ochVQ {
        margin: 0 24px;
    }
}
