.writeReviewButton_1dIVg {
    margin: 16px 0 24px;
}

.innerButton_25y88 {
    width: 100%;
    height: 48px;
}

@media (min-width: 768px) {
    .writeReviewButton_1dIVg {
        margin: 12px 0 6px;
    }

    .innerButton_25y88 {
        width: auto;
    }
}
