.dateInputs_1oSo8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
    margin-right: -16px;
}

    .dateInputs_1oSo8 .input_aKBY6 {
        width: 52px;
        padding: 0;
        margin: 0 16px 24px 0;
    }

    .dateInputs_1oSo8 .input_aKBY6 input {
            font-size: 14px;
            text-align: center
        }

    .dateInputs_1oSo8 .input_aKBY6 input::-webkit-inner-spin-button,
            .dateInputs_1oSo8 .input_aKBY6 input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

    .dateInputs_1oSo8 .input_aKBY6.year_3j0qZ {
    width: 64px;
}
@media (min-width: 1025px) {
    .dateInputs_1oSo8 .input_aKBY6 {
        margin: 0 16px 32px 0;
    }
}
