module.exports = "<a href=\"javascript:;\" class=\"wishlist-button{{#styles}} {{styles}} {{/styles}}{{^isLabelButton}} circle-btn circle-wishlist-btn ss-icon-bookmark{{/isLabelButton}}\">{{initialContent}}</a>\n"