

.ehf_2So0v {
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #55555a;
}

.large_vfLww .ehf_2So0v {
    margin: auto 16px;
}

.monthlyPayment_3fKOU.salePrice_1BZ3X {
    position: relative;
    margin-right: 8px;
}

.monthlyPayment_3fKOU {
    font-weight: 600;
}

.monthlyPayment_3fKOU.medium_6sGt- {
    width: 100%;
}

.monthlyPayment_3fKOU.large_vfLww {
    position: relative;
    top: -10px;
}

.productPricingContainer_3gTS3 {
    margin-top: 0;
}
