

.expandableList_Pmvsi [class*="bodyContainer"] {
    padding: 0;
}

.facetsContainer_2DDqq {
    width: 100%;
    min-width: 256px;
    max-width: 256px;
}

.facetTitle_1WQi_ {
    line-height: 32px !important;
    margin-top: 8px;
}

.facetName_11ZTR {
    display: inline-block;
    max-width: 192px;
    position: relative;
    font-size: 14px;
    line-height: 16px;
}

.facetFilter_2PRV9 {
    padding: 16px 16px 16px 56px !important;
}

.productName_3Ikre {
    font-size: 14px;
    line-height: 20px;
}

.productName_3Ikre:hover,
.productName_3Ikre:focus {
    cursor: pointer;
    text-decoration: underline;
}

.facetButton_56etU {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24px;
            flex: 0 0 24px;
    padding: 0 12px 0 0;
}

.facetButton_56etU [class="input"] {
    top: 0;
}

.facetButton_56etU input:hover,
.facetButton_56etU input:focus {
    cursor: pointer;
}

.facetButton_56etU label {
    display: none;
}

.productCount_12yXa {
    color: #55555a;
    font-size: 12px;
    margin-left: 8px;
    width: 100%;
}

.list_1HJ4j {
    padding: 0 !important;
}

.filterActive_w6Kgj {
    font-weight: 600;
}

.filterActive_w6Kgj .productCount_12yXa {
    font-weight: 400;
}

.facetFilterPlaceholderContainer_292in {
    padding: 12px 16px;
    height: auto;
}

.facetFilterPlaceholder_1htTN {
  position: relative;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;

  -webkit-animation-timing-function: linear;

          animation-timing-function: linear;
  background: #f0f0f0;
  background: -webkit-linear-gradient(left, #eee 8%, #ddd 18%, #eee 33%);
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 800px 104px;
}

.facetFilterPlaceholder_1htTN {
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
        }

.facetFilterPlaceholder_1htTN {
    height: 19px;
    width: 100%;
    display: inline-block;
}

.priceSearchContainer_1rzLB {
    margin: 0;
}

.priceInputContainer_qkN0n {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-right: 16px;
}

.priceButtonFlexContainer_1-pxl {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-bottom: 16px;
    margin-right: 16px;
}

.priceSearchInput_1sDHu {
    position: static;
    width: calc(50% - 12px);
    background: #fff;
    -webkit-align-self: stretch;
            align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    margin-left: 3px;
}

.priceSearchRangeTo_34uDv {
    text-align: center;
    width: 24px;
}

.button_n0Jvi.priceSearchButton_2XB5k {
    height: 48px;
    width: 100%;
    font-family: "Human BBY Digital";
    font-size: 14px;
}

.clearMinMax_3wX9Z {
    color: #0046be;
    font-size: 14px;
    font-weight: 600;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    padding: 0;
    list-style: none;
    cursor: pointer;
    margin-bottom: 16px;
}

.clearMinMax_3wX9Z button {
    background: none;
}

.clearMinMax_3wX9Z:hover {
    text-decoration: underline;
}

.dividerFlexContainer_26FIz {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin: 0 16px 18px 0;
}

.dividerLine_wD428 {
    width: 100%;
    position: static;
    height: 1px;
    background: #e0e6ef;
}

.priceBarOverride_zGl6Y {
    padding-left: 16px;
}

.materialOverride_3wPsb.listItem_K0v0C {
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    color: #1d252c;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: 1;
    margin: 0;
    padding: 0 16px 16px;
}

.materialOverride_3wPsb.listItem_K0v0C:first-child {
    padding-top: 8px !important;
}

.materialOverride_3wPsb.listItem_K0v0C:last-child {
    padding-bottom: 24px !important;
}

.materialOverride_3wPsb.listItem_K0v0C:hover,
.materialOverride_3wPsb.listItem_K0v0C:focus {
    cursor: pointer;
}

@media (min-width: 1025px) {
    .priceBarOverride_zGl6Y {
        padding-left: 0;
    }

    .materialOverride_3wPsb.listItem_K0v0C {
        padding: 0 0 24px;
    }

    .facetButton_56etU {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16px;
                flex: 0 0 16px;
    }

    .facetFilterPlaceholderContainer_292in {
        padding: 12px 24px;
    }

    .facetsContainer_2DDqq {
        min-width: 0;
        max-width: none;
    }

    .materialOverride_3wPsb.listItem_K0v0C {
        padding: 0 16px 16px 0;
    }
}
