@import '../../../assets/styles/shared';

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

@include mq($until: tablet) {
  .buttons {
    flex-direction: column;
  }
}

.description {
  color: $vds-color-slate-lighter;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 300;
  margin-left: 0;
  text-align: left;
}

body[dir='rtl'] {
  .description {
    text-align: right;
  }
}
