.password_creator {
  text-align: left;
  position: relative;

  .strength_meter {
    width: 100%;
    height: 12px;
    position: absolute;
    top: 48px;
  }
}

.password_rules {
  font-size: 14px;
  margin: 20px;

  .password_rule {
    list-style-type: square;
    line-height: 20px;
  }

  .password_rule + .password_rule {
    margin-top: 8px;
  }
}
