.revealable_password {
  position: relative;

  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
}

.icon_container {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
