// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-ActivityIcon-ActivityIcon__iconBackground--51X9O{\n\theight:24px;\n\twidth:24px;\n\tborder-radius:15px;\n\tposition:relative;\n\tbottom:2px;\n\tmargin-right:8px;\n}\n\n.client-atoms-ActivityIcon-ActivityIcon__icon--7aQPa{\n\tposition:relative;\n\ttop:4px;\n\tleft:4px;\n}\n", "",{"version":3,"sources":["webpack://./client/atoms/ActivityIcon/ActivityIcon.pcss"],"names":[],"mappings":"AAAA;CACC,WAAY;CACZ,UAAW;CACX,kBAAmB;CACnB,iBAAkB;CAClB,UAAW;CACX,gBAAiB;AAClB;;AAEA;CACC,iBAAkB;CAClB,OAAQ;CACR,QAAS;AACV","sourcesContent":[".iconBackground {\n\theight: 24px;\n\twidth: 24px;\n\tborder-radius: 15px;\n\tposition: relative;\n\tbottom: 2px;\n\tmargin-right: 8px;\n}\n\n.icon {\n\tposition: relative;\n\ttop: 4px;\n\tleft: 4px;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"iconBackground": "client-atoms-ActivityIcon-ActivityIcon__iconBackground--51X9O",
	"icon": "client-atoms-ActivityIcon-ActivityIcon__icon--7aQPa"
};
export default ___CSS_LOADER_EXPORT___;
