

.warrantyList_3BfSg {
    margin-left: 32px;
}

.warrantyListItem_zbT7E {
    padding-left: 0;
    font-size: 14px;
}

.warrantyLink_2KoEz {
    margin-bottom: 8px;
    display: block;
    color: #0046be;
}

.checkBox_tUxz4 .input-container.validation-error .error-msg {
    max-height: none;
}
