

.productFinder_3I-Wq {
    padding: 0 16px;
    margin-bottom: 48px;
}

.toggle_21ts-.flexRadioGroup_3Z825 .radio-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
                justify-content: flex-start
    }

.toggle_21ts-.flexRadioGroup_3Z825 .radio-group > div {
    width: 33%;
    min-width: 33%;
}

.carrierRadioButton_UgHxa label img,
.carrierRadioButton_UgHxa label svg {
    height: 20px;
    width: 100%;
    display: block;
    vertical-align: middle;
}

.subHeader_usbNb {
    margin: 0 0 24px;
}

.subText_2Xqxd {
    font-size: 12px;
    font-weight: normal;
    color: #55555a;
}

.carrierOptionLabel_2FdQd {
    white-space: pre-wrap;
}

.carrierLogoPlaceholder_2ERXZ {
    width: 40px;
    height: 20px;
}

.imageGallery_PLwU9 {
    border-bottom: 1px solid #e0e6ef;
}

.imageGalleryDivider_rxuN7 {
    margin-top: 16px;
}

.add_1SJtr {
    border: 1px solid #f4f6f9;
    padding: 1em;
    border-radius: 4px;
    height: 50px;
}

.price_KbrSu {
    font-weight: 600;
    font-size: 20px;
    padding: 1em 0;
    border-top: 1px solid #e0e6ef;
}

.priceText_2Z-DE > div {
    margin-bottom: 24px;
}

.digitSuperscript_2m9vT {
    vertical-align: super;
    font-size: 0.8em;
    font-weight: 600;
}

.amount_1iRlH {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.addToCart_2kRWr {
    margin-top: 16px;
}

.addPlanText_1IIqg {
    font-weight: 600;
    display: inline-block;
    margin: 0;
    font-size: 14px;
}

.pickupStoreButton_2NXVF {
    background: #0046be;
    color: #fff;
}

.optionTitle_3pkl9 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.optionValue_TsAAZ {
    text-transform: capitalize;
}

.optionName_3piFi {
    font-weight: 600;
}

.toggle_21ts- {
    margin-bottom: 8px;
}

/* Make the radio buttons look like a group of toggle buttons */

.toggle_21ts- .radio-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: auto -8px;
    text-align: center;
    font-weight: 600;
}

.toggle_21ts- .radio-group > div {
    padding: 0 6px;
    box-sizing: border-box;
    min-width: 50%;
    width: 50%;
}

.toggle_21ts- .radio-group label {
    color: #0046be;
}

.toggle_21ts- .checked label,
    .toggle_21ts- .checked .subText_2Xqxd {
    background-color: #001e73;
    color: #fff;
}

div.colourVariant_2ZP1f {
    margin: 0 0 32px;
}

.colourVariant_2ZP1f h3 {
    margin: 0;
}

.colourVariant_2ZP1f > div:first-of-type {
    border: none;
}

.colorVariantSwatches_3rySX > div:first-of-type {
    margin-left: 0;
}

.legalText_4nzfu {
    color: #55555a;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
}

.imageGalleryDesktopColumn_1kPht {
    display: none;
}

.imageGalleryMobile_12koi {
    display: block;
    margin: 2em 0;
}

.carrierContainer_3JD1g {
    margin-bottom: 32px;
}

.carrierContainer_3JD1g .legalText_4nzfu {
        margin-top: -16px;
    }

.carrierSelectorLoader_AtjOl {
    height: 60px !important;
}

.imageGallerySkeleton_2QkjM {
    height: 620px;
}

.skeletonLoader_1GFHm {
    height: 60px;
}

form > div.pickupStoreSelect_CW-_X {
    margin-bottom: 0;
}

.planSelectionMessage_33NQ7 {
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .productFinder_3I-Wq {
        margin-bottom: 64px;
    }

    .imageGalleryDesktopColumn_1kPht {
        display: block;
    }

    .imageGalleryMobile_12koi {
        display: none;
    }

    .price_KbrSu {
        margin: 1em 0;
        border: none;
    }
}
