// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-WidgetNoData-WidgetNoData__wrapper--1GqMB{\n\tdisplay:flex;\n\tflex-direction:column;\n\tjustify-content:center;\n\talign-items:center;\n\theight:100%;\n}\n\n.client-atoms-WidgetNoData-WidgetNoData__padding--3Xwgj{\n\tpadding:40px 64px 64px 64px;\n}\n\n.client-atoms-WidgetNoData-WidgetNoData__text--2oVx0{\n\tmargin-top:24px;\n\tmargin-bottom:16px;\n\ttext-align:center;\n}", "",{"version":3,"sources":["webpack://./client/atoms/WidgetNoData/WidgetNoData.pcss"],"names":[],"mappings":"AAAA;CACC,YAAa;CACb,qBAAsB;CACtB,sBAAuB;CACvB,kBAAmB;CACnB,WAAY;AACb;;AAEA;CACC,2BAA4B;AAC7B;;AAEA;CACC,eAAgB;CAChB,kBAAmB;CACnB,iBAAkB;AACnB","sourcesContent":[".wrapper {\n\tdisplay: flex;\n\tflex-direction: column;\n\tjustify-content: center;\n\talign-items: center;\n\theight: 100%;\n}\n\n.padding {\n\tpadding: 40px 64px 64px 64px;\n}\n\n.text {\n\tmargin-top: 24px;\n\tmargin-bottom: 16px;\n\ttext-align: center;\n}"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"wrapper": "client-atoms-WidgetNoData-WidgetNoData__wrapper--1GqMB",
	"padding": "client-atoms-WidgetNoData-WidgetNoData__padding--3Xwgj",
	"text": "client-atoms-WidgetNoData-WidgetNoData__text--2oVx0"
};
export default ___CSS_LOADER_EXPORT___;
