.success_z-20T {
    font-size: 56px;
    margin-bottom: 8px;
}

.successBody_1Kvx7 {
    max-width: 768px;
}

.messageSent_1gvMe {
    margin-bottom: 24px;
}

.keepBrowsing_15TzK {
    font-weight: bold;
}
