module.exports = "<div class=\"inner-popover\">\n  <div class=\"arrow\"></div>\n  <ul>\n    <li><a href=\"javascript:;\" class=\"outlook-cal\" data-calendar=\"Outlook\">\n    <img src=\"{{icons.outlook}}\" /> Outlook Calendar</a></li>\n    <li><a href=\"javascript:;\" class=\"google-cal\" data-calendar=\"Google\">\n    <img src=\"{{icons.google}}\" /> Google Calendar</a></li>\n    <li><a href=\"javascript:;\" class=\"apple-cal\" data-calendar=\"Apple\">\n    <img src=\"{{icons.apple}}\" /> Apple Calendar</a></li>\n    <li class=\"last\"><a href=\"javascript:;\" class=\"yahoo-cal\" data-calendar=\"Yahoo\">\n    <img src=\"{{icons.yahoo}}\" /> Yahoo! Calendar</a></li>\n  </ul>\n</div>"