module.exports = "<div class=\"inner-popover\">\n    <div class=\"arrow\"></div>\n    <div class=\"content\">\n        <div class=\"text\">\n            {{#message}}\n                <div class=\"message\"><strong>{{message}}</strong></div>\n            {{/message}}\n        </div>\n        <div>\n            <div class=\"btn red small confirmation-button action-button\">{{confirmButtonText}}</div>\n            <div class=\"btn bordered small cancel-button action-button\">Cancel</div>\n        </div>\n    </div>\n</div>\n"