// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-shared-viewOnlyButton-ViewOnlyButton__popover--1KBg_{\n\tmax-width:480px;\n\twhite-space:normal;\n}\n.client-shared-viewOnlyButton-ViewOnlyButton__popoverForDashboard--ZtXR4{\n\tmax-width:360px;\n}\n.client-shared-viewOnlyButton-ViewOnlyButton__textStrong--20srI{\n\tfont-weight:600;\n}\n", "",{"version":3,"sources":["webpack://./client/shared/viewOnlyButton/ViewOnlyButton.pcss"],"names":[],"mappings":"AAEA;CACC,eAAgB;CAChB,kBAAmB;AACpB;AAEA;CACC,eAAgB;AACjB;AAEA;CACC,eAA8B;AAC/B","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/postcss/fonts.postcss';\n\n.popover {\n\tmax-width: 480px;\n\twhite-space: normal;\n}\n\n.popoverForDashboard {\n\tmax-width: 360px;\n}\n\n.textStrong {\n\tfont-weight: $font-weight-semi;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"popover": "client-shared-viewOnlyButton-ViewOnlyButton__popover--1KBg_",
	"popoverForDashboard": "client-shared-viewOnlyButton-ViewOnlyButton__popoverForDashboard--ZtXR4",
	"textStrong": "client-shared-viewOnlyButton-ViewOnlyButton__textStrong--20srI"
};
export default ___CSS_LOADER_EXPORT___;
