@import '@pipedrive/convention-ui-css/dist/postcss/fonts.postcss';

.popover {
	max-width: 480px;
	white-space: normal;
}

.popoverForDashboard {
	max-width: 360px;
}

.textStrong {
	font-weight: $font-weight-semi;
}
