// inherits from pop-overs.styl

.custom-domain-pop
  bottom: 23px
  left: 2px
  top: initial
  .bold
    font-weight: 600
  .flyio
    padding-left: 5px
    width: 16px

.custom-domain-pop__domain-list
  margin: 0
  padding: 0
  list-style-type: none
  li
    display: flex
    align-items: flex-start
    margin-bottom: 0.5em

.custom-domain-pop__domain-item
  flex: 1 1 auto
  margin-right: 0.5em 

.custom-domain-pop__notification
  p
    margin-top: 0
