.vertical {
	transform: rotate(-90deg);
	transform-origin: 0 0;
	z-index: 1;
	width: 384px;
	display: flex;
	justify-content: space-around;
	left: 0;
}

.horizontal {
	position: absolute;
	display: flex;
	justify-content: space-around;
	width: 100%;
	bottom: 0;
}

.hidden {
	display: none;
}

.filterRow {
	display: flex;
}

.balancingElement {
	flex: 1;
	justify-content: flex-end;
}

.infoTooltip {
	margin-left: 8px;
}
