@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.content {
	margin: 12px 0 24px;
	overflow: hidden;
}

.collapsed {
	height: 0;
	margin: 0;
}

.noMargin {
	margin: 0;
}
