// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-molecules-GoalDetailsModal-footer-GoalDetailsModalFooter__footer--1fUhz{\n\tdisplay:flex;\n\tflex-direction:row;\n\tjustify-content:space-between;\n\twidth:100%;\n}\n\n.client-molecules-GoalDetailsModal-footer-GoalDetailsModalFooter__footerNoBackButton---G3Ni{\n\tjustify-content:flex-end;\n}\n", "",{"version":3,"sources":["webpack://./client/molecules/GoalDetailsModal/footer/GoalDetailsModalFooter.pcss"],"names":[],"mappings":"AAAA;CACC,YAAa;CACb,kBAAmB;CACnB,6BAA8B;CAC9B,UAAW;AACZ;;AAEA;CACC,wBAAyB;AAC1B","sourcesContent":[".footer {\n\tdisplay: flex;\n\tflex-direction: row;\n\tjustify-content: space-between;\n\twidth: 100%;\n}\n\n.footerNoBackButton {\n\tjustify-content: flex-end;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"footer": "client-molecules-GoalDetailsModal-footer-GoalDetailsModalFooter__footer--1fUhz",
	"footerNoBackButton": "client-molecules-GoalDetailsModal-footer-GoalDetailsModalFooter__footerNoBackButton---G3Ni"
};
export default ___CSS_LOADER_EXPORT___;
