// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-shared-listView-listViewSourceTable-ListViewSourceTable__sourceTableWrapper--2BMm-{\n\tposition:relative;\n}\n", "",{"version":3,"sources":["webpack://./client/shared/listView/listViewSourceTable/ListViewSourceTable.pcss"],"names":[],"mappings":"AAAA;CACC,iBAAkB;AACnB","sourcesContent":[".sourceTableWrapper {\n\tposition: relative;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"sourceTableWrapper": "client-shared-listView-listViewSourceTable-ListViewSourceTable__sourceTableWrapper--2BMm-"
};
export default ___CSS_LOADER_EXPORT___;
