// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-molecules-GoalCard-GoalCard__wrapper--1xRBD{\n\tborder-radius:0 0 4px 4px;\n}\n\n.client-molecules-GoalCard-GoalCard__card--25Wjd{\n\tdisplay:flex;\n\tpadding:10px 8px;\n}\n\n.client-molecules-GoalCard-GoalCard__column--m_Da2{\n\tdisplay:flex;\n\tflex-direction:column;\n\twidth:50%;\n}\n", "",{"version":3,"sources":["webpack://./client/molecules/GoalCard/GoalCard.pcss"],"names":[],"mappings":"AAAA;CACC,yBAA0B;AAC3B;;AAEA;CACC,YAAa;CACb,gBAAiB;AAClB;;AAEA;CACC,YAAa;CACb,qBAAsB;CACtB,SAAU;AACX","sourcesContent":[".wrapper {\n\tborder-radius: 0 0 4px 4px;\n}\n\n.card {\n\tdisplay: flex;\n\tpadding: 10px 8px;\n}\n\n.column {\n\tdisplay: flex;\n\tflex-direction: column;\n\twidth: 50%;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"wrapper": "client-molecules-GoalCard-GoalCard__wrapper--1xRBD",
	"card": "client-molecules-GoalCard-GoalCard__card--25Wjd",
	"column": "client-molecules-GoalCard-GoalCard__column--m_Da2"
};
export default ___CSS_LOADER_EXPORT___;
