module.exports = "<div class=\"review\">\n    <div class=\"review-content\">\n        <div class=\"col-left\">\n            <div class=\"{{ iconStyle }} round-all\"></div>\n            {{#reviewer}}\n                {{> partials/_user-snippet}}\n            {{/reviewer}}\n        </div>\n        <div class=\"col-right\">\n            {{#testimonial}}\n                <blockquote class=\"body-content\">\n                    {{testimonial}}\n                </blockquote>\n                <div class=\"toolbar\">\n                    {{#canModify}}\n                        <a href=\"javascript:;\" class=\"review-delete alternate\">Delete</a>\n                    {{/canModify}}\n\n                    <span class=\"secondary-type review-timestamp\"></span>\n                </div>\n            {{/testimonial}}\n        </div>\n    </div>\n</div>\n"