module.exports = "<ul class=\"session-list\">\n    {{#sessions}}\n        <li class=\"session-item{{#firstRank}} first{{/firstRank}}\">\n            {{> items/video-player-session-item}}\n        </li>\n    {{/sessions}}\n</ul>\n"