@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';
@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';

.outcomeSection {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	svg {
		margin: 8px 0;
	}
}

.fullWidth {
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
}

.fullWidthColumn {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.label {
	color: $color-black-hex-64;
	text-transform: uppercase;
	font: $font-badge;
	letter-spacing: $letter-spacing-m;
}
