.availabilityMessageSearch_1KfqF {
    margin-top: 8px;
}

.availabilityMessageSearch_1KfqF {
    display: inline-block;
}

.availabilityMessageSearchPickup_1h9CR {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.availabilityMessageSearchPickup_1h9CR,
.availabilityMessageSearch_1KfqF {
    line-height: 16px;
    font-size: 12px;
    color: #55555a;
    margin-bottom: 0;
}

.availabilityMessageSearchPickup_1h9CR svg {
    margin-bottom: 0 !important;
}

.iconStyle_H9oNs {
    float: left !important;
    height: 16px !important;
    margin-right: 4px !important;
    width: 16px !important;
}

.availabilityMessage_Ev_6A {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
}
