// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-atoms-MultiSelectChartFilter-MultiSelectChartFilter__popover--1S5ju{\n\twidth:260px;\n\tmax-height:420px;\n}\n.client-atoms-MultiSelectChartFilter-MultiSelectChartFilter__options--XfK1l{\n\tmax-height:320px;\n\toverflow:auto;\n}\n.client-atoms-MultiSelectChartFilter-MultiSelectChartFilter__label--3nzMT{\n\tmargin-right:16px;\n\tposition:relative;\n\ttop:6px;\n}\n", "",{"version":3,"sources":["webpack://./client/atoms/MultiSelectChartFilter/MultiSelectChartFilter.pcss"],"names":[],"mappings":"AAEA;CACC,WAAY;CACZ,gBAAiB;AAClB;AAEA;CACC,gBAAiB;CACjB,aAAc;AACf;AAEA;CACC,iBAAkB;CAClB,iBAAkB;CAClB,OAAQ;AACT","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';\n\n.popover {\n\twidth: 260px;\n\tmax-height: 420px;\n}\n\n.options {\n\tmax-height: 320px;\n\toverflow: auto;\n}\n\n.label {\n\tmargin-right: 16px;\n\tposition: relative;\n\ttop: 6px;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"popover": "client-atoms-MultiSelectChartFilter-MultiSelectChartFilter__popover--1S5ju",
	"options": "client-atoms-MultiSelectChartFilter-MultiSelectChartFilter__options--XfK1l",
	"label": "client-atoms-MultiSelectChartFilter-MultiSelectChartFilter__label--3nzMT"
};
export default ___CSS_LOADER_EXPORT___;
