/*
 * ELASTICSEARCH CONFIDENTIAL
 * __________________
 *
 *  Copyright Elasticsearch B.V. All rights reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Elasticsearch B.V. and its suppliers, if any.
 * The intellectual and technical concepts contained herein
 * are proprietary to Elasticsearch B.V. and its suppliers and
 * may be covered by U.S. and Foreign Patents, patents in
 * process, and are protected by trade secret or copyright
 * law.  Dissemination of this information or reproduction of
 * this material is strictly forbidden unless prior written
 * permission is obtained from Elasticsearch B.V.
 */

@import '../../styles/variables.scss';

.password-field-popover {
  max-width: 350px;
}

.password-field-component {
  .euiFormControlLayout--group {
    .euiFormControlLayout__append,
    .euiFormControlLayout__prepend {
      .euiIcon {
        background: transparent;
      }
    }

    .euiFormControlLayout__append {
      border-radius: 0;
    }

    .euiFormControlLayout__prepend {
      border-right: none;
      border-radius: 0;
      padding: 0 8px;
      width: 32px;
    }
  }

  .password-strength-meter-label {
    flex-direction: row;
    justify-content: flex-end;
  }

  .password-field-popover-icon {
    .euiPopover__anchor {
      cursor: pointer;

      .euiButtonEmpty {
        height: auto;

        .euiButtonEmpty__content {
          padding-right: 0;
        }
      }
    }
  }

  .password-strength-meter-super-strong {
    &::-webkit-progress-value {
      background-color: $euiColorSecondary;
      background-image: linear-gradient(to right,
        $euiColorDanger,
        $euiColorVis7,
        $euiColorVis5,
        $euiColorVis0,
        $euiColorSecondary,
        $euiColorPrimary,
        $euiColorVis3,
        $euiColorAccent
      );
    }

    &::-moz-progress-bar {
      background-color: $euiColorSecondary;
      background-image: linear-gradient(to right,
        $euiColorDanger,
        $euiColorVis7,
        $euiColorVis5,
        $euiColorVis0,
        $euiColorSecondary,
        $euiColorPrimary,
        $euiColorVis3,
        $euiColorAccent
      );
    }
  }

  .password-strength-meter-amber {
    color: $euiColorWarning;

    &::-webkit-progress-value {
      background-color: $euiColorWarning;
    }

    &::-moz-progress-bar {
      background-color: $euiColorWarning;
    }
  }
}
