.segmentBy {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.segmentByLabel {
	position: relative;
	padding-right: 16px;
}

.removeBtn {
	position: relative;
	right: 9px;
}
