// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-goal-chartAndTableArea-GoalReportArea__panelWrapper--2bbmd{\n\tmargin-top:8px;\n}\n", "",{"version":3,"sources":["webpack://./client/goal/chartAndTableArea/GoalReportArea.pcss"],"names":[],"mappings":"AAAA;CACC,cAAe;AAChB","sourcesContent":[".panelWrapper {\n\tmargin-top: 8px;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"panelWrapper": "client-goal-chartAndTableArea-GoalReportArea__panelWrapper--2bbmd"
};
export default ___CSS_LOADER_EXPORT___;
