module.exports = "<div class=\"placeholder-area error-wrapper\">\n    <div class=\"error-message\"></div>\n    <a href=\"javascript:;\" class=\"secondary retry-btn\">Retry</a>\n</div>\n<ul class=\"scrollable-list contacts-list loading-overlay\"></ul>\n"