module.exports = "<div class=\"contact-wrapper clear {{^name}}no-name{{/name}} {{^isMember}}{{^name}}vertical-center{{/name}}{{/isMember}}\">\n    {{^isMember}}\n        <div class=\"right\">\n            <div class=\"invite-status initial\">\n                <a href=\"javascript:;\" class=\"invite-btn btn small bordered\">Send</a>\n            </div>\n        </div>\n    {{/isMember}}\n    <div class=\"contact-info\">\n        {{#isMember}}\n            {{#name}}<p class=\"ellipsis\"><strong>{{name}}</strong></p>{{/name}}\n            {{^name}}<p class=\"contact-email ellipsis\"><strong>{{email}}</strong></p>{{/name}}\n            <p class=\"contact-note\">Already a Skillshare Member.</p>\n        {{/isMember}}\n        {{^isMember}}\n            {{#name}}<p class=\"ellipsis\"><strong>{{name}}</strong></p>{{/name}}\n            <p class=\"contact-email ellipsis\">{{email}}</p>\n        {{/isMember}}\n    </div>\n</div>\n"