

.link_3iw9l {
    font-size: 14px;
    font-weight: 600
}

.link_3iw9l.dark_3Mlwh {
    color: #fff;
}

.singleButton_1pewo.dark_3Mlwh.secondary_24Gtx {
    color: #0046be;
    background-color: #fff
}

.singleButton_1pewo.dark_3Mlwh.secondary_24Gtx:hover {
    background-color: #e0e6ef;
}

.singleButton_1pewo.dark_3Mlwh.tertiary_2dxg8 {
    color: #fff;
}

.singleButton_1pewo:hover {
    text-decoration: none;
}
