module.exports = "<textarea class=\"note-body\">{{body}}</textarea>\n<div class=\"note-submission\">\n    <select class=\"note-privacy-status small\">\n        <option value=\"1\"{{#privacy_status}} selected{{/privacy_status}}>Public</option>\n        <option value=\"0\"{{^privacy_status}} selected{{/privacy_status}}>Only Me</option>\n    </select>\n    <div class=\"post-button btn small primary prevent-popover-close\">Save</div>\n    <a href=\"javascript:;\" class=\"cancel-button secondary no-underline prevent-popover-close\">Cancel</a>\n</div>\n"