module.exports = "<textarea class=\"note-body disabled\" placeholder=\"Add a note...\" disabled></textarea>\n<div class=\"note-submission\">\n    <select class=\"note-privacy-status small\">\n        <option value=\"1\">Public</option>\n        <option value=\"0\">Only Me</option>\n    </select>\n    <div class=\"post-button btn small primary disabled\">Post</div>\n    <div class=\"post-at\"{{^hasVideoTime}} style=\"display: none;\"{{/hasVideoTime}}>Post at <span class=\"post-at-time\"></span></div>\n</div>\n"