module.exports = "<div class=\"col-left left\">\n    <div class=\"like-button {{likeStyle}} icon-like round-all\"></div>\n    <div class=\"dislike-button {{dislikeStyle}} icon-dislike round-all\"></div>\n</div>\n<div class=\"col-right\">\n  <textarea class=\"body-content\">{{testimonial}}</textarea>\n\n  {{#reviewer}}\n      {{> partials/_user-snippet}}\n  {{/reviewer}}\n\n  {{#canModify}}\n        <div class=\"toolbar\">\n            <a href=\"javascript:;\" class=\"btn small primary save-button\">Save</a>\n            <span class=\"middot\">&middot;</span>\n            <a href=\"javascript:;\" class=\"cancel-button secondary no-underline\">Cancel</a>\n        </div>\n  {{/canModify}}\n</div>\n"