// extracted by mini-css-extract-plugin
export default {"wrapper":"client-components-AddModal-AddModal__wrapper--icu5Y","select":"client-components-AddModal-AddModal__select--3tZ72","panelsWrapper":"client-components-AddModal-AddModal__panelsWrapper--3CsdV","loader":"client-components-AddModal-AddModal__loader--2geIy","footer":"client-components-AddModal-AddModal__footer--13xeH","cappingInfo":"client-components-AddModal-AddModal__cappingInfo--3z-Lk","confirmButtonWrapper":"client-components-AddModal-AddModal__confirmButtonWrapper--39mvR"};