.optionBox_3I57G {
    border: 1px solid #c5cbd5;
    border-radius: 4px;
    color: #0046be;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    padding: 5px 0 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    width: 88px;
    height: 50px;
    vertical-align: top;
}

.optionBox_3I57G:hover,
.optionBox_3I57G:focus {
    box-shadow: inset 0 0 0 1px #0046be;
    border: 1px solid #0046be;
}

.price_3O7LI {
    display: block;
    color: #55555a;
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    margin: 0;
}

.text_3WOvY {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}

.flexCenter_7ucOS {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100%;
    bottom: 1px;
    position: relative;
}

.isSelected_3g8j6,
.isSelected_3g8j6:hover,
.isSelected_3g8j6:active,
.isSelected_3g8j6,
.isSelected_3g8j6:focus,
.isSelected_3g8j6:active {
    background-color: #001e73;
    box-shadow: none;
    border: none;
    cursor: default;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.isSelected_3g8j6 .text_3WOvY {
    color: #fff;
}

.isSelected_3g8j6 .price_3O7LI {
    color: #fff;
}

.disabled_3UoxZ {
    background-color: #e0e6ef;
    color: #55555a;
    border: none;
}

.disabled_3UoxZ:hover {
    border: none;
    cursor: not-allowed;
    box-shadow: none;
}
