@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';
@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';

.counter {
	display: flex;
}

.countText {
	color: $color-black-hex-64;
	font-size: $font-size-s;
	line-height: $line-height-s;
	font-weight: $font-weight-normal;
	margin-right: 8px;
}
