

.liveAgentStatus_1-q4g {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.offline_277g7 {
    background-color: #bb0628;
}

.online_Io4fA {
    background-color: #308800;
}

.busy_3CNAU {
    background-color: #e37222;
}
