.priceDown_3Tdkk {
    display: inline-block;
    margin: 0 8px 0 0;
}

.price_1_EAw {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 4px 0 0;
    display: inline-block;
}

.decimalPrice_1QYK9 {
    margin-right: -4px;
}

.taxes_182q9 {
    font-size: 16px;
    font-weight: 100;
}
