// Imports
import ___CSS_LOADER_API_SOURCEMAP_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/cssWithMappingToString.js";
import ___CSS_LOADER_API_IMPORT___ from "../../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".client-shared-listView-ListViewStats__subHeader--1oes4{\n\tdisplay:flex;\n\tflex-direction:column;\n\talign-items:center;\n}\n.client-shared-listView-ListViewStats__stats--bA_Ea{\n\talign-self:center;\n}\n.client-shared-listView-ListViewStats__exportButton--3iwXg{\n\tposition:absolute;\n\tright:16px;\n\ttop:59px;\n}\n", "",{"version":3,"sources":["webpack://./client/shared/listView/ListViewStats.pcss"],"names":[],"mappings":"AAGA;CACC,YAAa;CACb,qBAAsB;CACtB,kBAAmB;AACpB;AAEA;CACC,iBAAkB;AACnB;AAEA;CACC,iBAAkB;CAClB,UAAW;CACX,QAAS;AACV","sourcesContent":["@import '@pipedrive/convention-ui-css/dist/scss/colors.scss';\n@import '@pipedrive/convention-ui-css/dist/scss/fonts.scss';\n\n.subHeader {\n\tdisplay: flex;\n\tflex-direction: column;\n\talign-items: center;\n}\n\n.stats {\n\talign-self: center;\n}\n\n.exportButton {\n\tposition: absolute;\n\tright: 16px;\n\ttop: 59px;\n}\n"],"sourceRoot":""}]);
// Exports
___CSS_LOADER_EXPORT___.locals = {
	"subHeader": "client-shared-listView-ListViewStats__subHeader--1oes4",
	"stats": "client-shared-listView-ListViewStats__stats--bA_Ea",
	"exportButton": "client-shared-listView-ListViewStats__exportButton--3iwXg"
};
export default ___CSS_LOADER_EXPORT___;
