module.exports = "<div class=\"discussions-wrapper\">\n    <div class=\"grid limited-width\">\n        <div class=\"row\">\n            <div class=\"col-9\">\n                <div id=\"question-view\" class=\"classroom-content section-view post-view\">\n                    <div class=\"inline-discussion\">\n                        <div class=\"navigation back\">\n                           <span class=\"ss-icon-arrow-left\"></span>\n                           <a href=\"{{discussionsUrl}}\" class=\"secondary no-underline section-navigation\">Back to all Discussions</a>\n                        </div>\n                    </div>\n                    <div class=\"inline-discussion\">\n                        {{> discussions/default }}\n                    </div>\n                </div>\n            </div>\n        </div>\n    </div>\n</div>"